---
layout: default
permalink: 30-2/counting-methods/index.html
title: "Math 30-2: Counting Methods"
---
<h1>{{ page.title }}</h1>

{% for entry in site.data.30-2 %}
  {% if entry.unit == "Counting Methods" %}
    <h3>{{ entry.topic }}</h3>
    <ul>
    {% for item in entry.web %}
      {% for post in site.posts %}
        {% if post.url == item.url %}
          <li>
            <a href="{{ item.url }}">{{ post.title }}</a>
            {% if post.video != "na" %}
              <img src="/images/video.png" width="25" title="Video solution avaliable">
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
