---
layout: default
---
<h1>TOC</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      <tr>
        <th scope="row">
          <a href="{{ post.url }}" >{{ post.title }}</a>
          {% if post.video != "na" %}
            <img src="/images/video.png" width="25" title="Video solution avaliable">
          {% endif %}
        </th>
        <td>
          {% for i in post.learningoutcomes %}
            {% include pos-modal.html content=i.code %}<br>
          {% endfor %}
        </td>
        <td>{{ page.date | date: "%Y-%m-%d" }}-{{ post.url }}</td>
        <td>-</td>
        <td>-</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
