<div class="card">
  <div class="card-header">
    Exam Weights
  </div>
  <div class="card-body">
    The exams are weighted as follows:
    <ul>
      <li>Unit Finals: 80%</li>
      <li>Final Exam: 20%</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Replacement Exams
  </div>
  <div class="card-body">
    Replacement Exams provide an opportunity for students to re-challenge previously evaluated outcomes. Replacement exams are offered during the course on the dates indicated in the timeline.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Missed Exams
  </div>
  <div class="card-body">
    You are expected to write tests on the scheduled dates. Failure to meet this expectation will result in a referral to the student support team or to the administration. There are no late writes on replacement exams.
  </div>
</div>
