<div class="card">
  <div class="card-header">
    Exam Weights
  </div>
  <div class="card-body">
    The course has a total of eight exams (7 unit finals and the Amazing Race), each exam is worth 12.5% of the final mark.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Replacement Exams
  </div>
  <div class="card-body">
    Replacement Exams provide an opportunity for students to re-challenge previously evaluated outcomes. Replacement exams are offered during the course on the dates indicated in the timeline.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Missed Exams
  </div>
  <div class="card-body">
    You are expected to write tests on the scheduled dates. Failure to meet this expectation will result in a referral to the student support team or to the administration.
  </div>
</div>
