<div class="list-group">
  {% for post in site.posts %}
    {% if post.course == page.title %}
      {% if post.status == 'done' %}
        <a href="{{ post.url }}"  class="list-group-item flex-column align-items-start">
        <img src="/images/done.png" width=25px>
      {% elsif post.status == 'hw' %}
        <a href="{{ post.url }}"  class="list-group-item flex-column align-items-start">
        <img src="/images/hw.png"  width=25px>
      {% elsif post.status == 'notdone' %}
        <a href="{{ post.url }}"  class="list-group-item flex-column align-items-start">
        <img src="/images/white.png" width=25px>
      {% else %}
        <a href="{{ post.url }}"  class="list-group-item list-group-item-primary">
      {% endif %}
      <strong>p.{{ post.pages }}</strong> {{ post.title }} / {{ post.unit }} ({{ post.type }})</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
