<div class="card">
  <div class="card-header">
    Attendance
  </div>
  <div class="card-body">
    <ul>
      <li>Consistent and regular attendance is key to success in any course.</li>
      <li>If you do have to miss class, you have to report your absence <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwaO-v24ZeYT0xhC2EJOrFd5xE2W3f09qakIst7hMTwyoD9Q/viewform">here</a>.</li>
      <li>It is your responsibility to get caught up on all missed material before the next class.</li>
    </ul>
  </div>
</div>
