<div class="card">
  <div class="card-header">
    Diploma Exam
  </div>
  <div class="card-body">
    <p>There is a \$26.25 fee (\$50.00 for foreign students) for each diploma exam rewrite. The rewite fee must be paid via myPass.</p>

    <p>The format and content of the Mathematics 30-2 diploma examinations are as follows:
      <table class="table table-bordered table-sm"">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Question Format</th>
            <th scope="col">Number of Questions</th>
            <th scope="col">Emphasis</th>
          </tr>
        </thead>
        <tbody>
              <tr>
                <td>Multiple Choice</td>
                <td>24</td>
                <td rowspan="2">75%</td>
              </tr>
              <tr>
                <td>Numerical Response</td>
                <td>8</td>
              </tr>
              <tr>
                <td>Written Response</td>
                <td>2</td>
                <td>25%</td>
              </tr>
        </tbody>
      </table>

      <table class="table table-bordered table-sm"">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Topic</th>
            <th scope="col">Emphasis</th>
          </tr>
        </thead>
        <tbody>
              <tr>
                <td>Logical Reasoning</td>
                <td>15% - 20%</td>
              </tr>
              <tr>
                <td>Probability</td>
                <td>30% - 35%</td>
              </tr>
              <tr>
                <td>Relations and Functions</td>
                <td>45% - 55%</td>
              </tr>
        </tbody>
      </table>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Final Mark
  </div>
  <div class="card-body">
    <ul>
      <li><strong>Regular Student.</strong><br>The school mark and the diploma examination mark are combined on a 70/30 basis.</li>
      <li><strong>Mature Students.</strong> (19 years of age or older as of September 1 OR holder of previously awarded high school diploma)<br>If the school mark is lower than the diploma examination mark, the school mark is disregarded and the examination mark becomes the final mark.</li>
    </ul>
  </div>
</div>
