<div class="card">
  <div class="card-header">
    Classroom Expectations
  </div>
  <div class="card-body">
    <ul>
      <li>Everyone has chosen to come here to learn.</li>
      <li>Your teacher is here to help you learn.</li>
      <li>Music and cell phones are distracting during lessons - both for you and others. Earbuds are not allowed during instructional time and during exams.</li>
      <li>Watching videos or playing video games is not permitted during class.</li>
      <li>Be punctual and attend regularly.</li>
      <li>If you are late, enter quietly without disturbing the class and sign in.</li>
      <li>If you need to leave class early, please let your teacher know beforehand.</li>
      <li>Keep complete and neat notes.</li>
      <li>Ask questions, seek assistance and be an active participant in class.</li>
      <li>Complete assignments in a timely manner.</li>
    </ul>
  </div>
</div>
