<div class="card">
  <div class="card-header">
    Materials
  </div>
  <div class="card-body">
    <ul>
      <li>The provided math workbooks.</li>
      <li>Pencil, eraser, pens, highlighters, clear plastic ruler.</li>
      <li>Approved graphing calculator (TI-84 Plus is recommended for 10C and all -2 and -3 courses, a scientific calculator will suffice for all -3 courses).</li>
      <li>Loose-leaf paper for supplemental work.</li>
      <li>Three-ringed binder to keep papers and workbooks organized.</li>
      <li>Internet enabled device (cell phone, tablet, laptop)</li>
    </ul>
  </div>
</div>
