    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="{{ site.name }}" />
    <meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.description }} Math {{ page.course }}, Unit: {{ page.category }}." />

    <!-- Twitter Card data -->
    <meta property="twitter:card" content="summary" /></meta>
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:url" content="{{ site.url }}/{{ post.url }}" \>
    <meta property="twitter:site" content="@mathforfuture" />
    <meta property="twitter:description" content="{{ page.description }} Math {{ page.course }}, Unit: {{ page.category }}." />
    <meta property="twitter:creator" content="@mathforfuture" />
    <meta property="twitter:image" content="{{ site.url }}/logo/math-for-future-social-media-banner.png" />

    <!-- OG meta tags -->
    <meta property="og:title" content="{{ page.title }}"
    <meta property="og:url" content="{{ site.url }}/{{ post.url }}" \>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Math For Future" />
    <meta property="og:description" content="{{ page.description }} Math {{ page.course }}, Unit: {{ page.category }}." />
    <meta property="og:image" content="{{ site.url }}/logo/math-for-future-social-media-banner.png" />
