<header>
  {% if page.title == "mathforfuture.com" %}
    <img src="/logo/math-for-future.png" width=100%>
  {% endif %}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #367D45;">
    <div class="container-fluid">

    <a class="navbar-brand text-white" href="/">MathForFuture.com - Math for a Changing World</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--
    <div class="collapse navbar-collapse text-right" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="navbar-brand text-white" href="/10C/">Math 10C</a>
        <a class="navbar-brand text-white" href="/20-2/">Math 20-2</a>
        <a class="navbar-brand text-white" href="/30-2/">Math 30-2</a>
        <a class="navbar-brand text-white" href="/31/">Math 31</a>
        <a class="navbar-brand text-white" href="/about/">About</a>
      </div>
      -->
    </div>
</div>
  </nav>

</header>
