<div class="card">
  <div class="card-header">
    How to be Successful
  </div>
  <div class="card-body">
    Even if you have not done well in mathematics in the past, you can work toward success in math by setting yourself up to succeed. Try the following tips.
    <ul>
      <li>Ensure that you schedule time for daily study.</li>
      <li>Make sure that you have the needed resources, including this assignment package, extra worksheets and your current assignment.</li>
      <li>Ask for help when you need it. Your teachers is always happy to coach students who will continue to try, despite difficulties.</li>
      <li>Set realistic goals. If you want to get a simple pass focus on mastering math problems that will allow you to pass and do not worry about the Standard of Excellence problems, that are meant for students who find math a breeze and are aiming for 80% or above.</li>
      <li>Monitor the achievement of your goals. If you fall short, ask yourself what you can do to improve — then do it!</li>
    </ul>
  </div>
</div>
