
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Mon, Tue, Wed, Fri</th>
      <th scope="col">Thu</th>
      <th scope="col">Class</th>
    </tr>
  </thead>
  <tbody>
        <tr>
          <td>Block 1</td>
          <td>8:30 - 9:45</td>
          <td>8:30 - 9:35</td>
          <td>20-2</tr>
        </tr>
        <tr>
          <td>Block 2</td>
          <td>9:53 - 11:08</td>
          <td>9:43 - 10:48</td>
          <td>30-2</tr>
        </tr>
        <tr>
          <td>Block 3</td>
          <td>11:16 - 12:31</td>
          <td>10:56 - 12:01</td>
          <td></tr>
        </tr>
        <tr>
          <td>Block 4</td>
          <td>12:39 - 1:54</td>
          <td>12:09 - 1:14</td>
          <td>10-3</tr>
        </tr>
        <tr>
          <td>Block 5</td>
          <td>2:02- 3:17</td>
          <td>1:22 - 2:27</td>
          <td>30-2</tr>
        </tr>
  </tbody>
</table>
