---
layout: post
title: Unit Circle and Trigonometric Ratios 5
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Use the $30^\circ-60^\circ-90^\circ$ triangle to find the exact trigonometric ratios of the following angles.</p>
<ol type="A">
<li>$$\sin(30^\circ) = \sin \left( \fraction{\pi}{6} \right)$$</li>
<li>$$\cos(30^\circ) = \cos \left( \fraction{\pi}{6} \right)$$</li>
<li>$$\tan(30^\circ) = \tan \left( \fraction{\pi}{6} \right)$$</li>
</ol>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->