---
layout: post
title: Sine Function, Cosine Function and Transformations 5
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The London Eye, located on the River Thames in London England, is the largest Ferris wheel in Europe. </p>
<p>The London Eyechas a diameter of 135 m. Passengers board 2 metres above ground level, so the centre is 69.5 m above ground level. The wheel rotates once every 30 minutes.</p>
<ol>
<li>What is the minimum height of a passenger?</li>
<li>What is the period?</li>
<li>Let a revolution begin at $t=0$ minutes, when the last capsule is filled with passenger at a height of 2 m. Sketch the sinusoidal graph that represents this situation. Label then key points.</li>
<li>Determine the equation in the form $h(t) = a \sin(b(t-c))+d$ that describes the relationship between a passenger's height, $h$ metres above the ground, after $t$ minutes.</li>
<li>Find the height of a passenger above the ground 20 minutes after passing the lowest point of the ride.</li>
</ol>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->