---
layout: post
title: Unit Circle and Trigonometric Ratios 12
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For an angle $\theta$ in standard position, $\cos \theta = -\fraction{3}{7}$ and $180^\circ < \theta < 270^\circ$.</p>
<ol>
<li>Find the approximate value of $\theta$, to the nearest tenth of a degree.</li>
<li>Find the exact value of $\csc \theta$. Rationalize the denominator.</li>
</ol>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->