---
layout: post
title: Unit Circle and Trigonometric Ratios 6
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Skecth a diagram of the unit circle including the multiples of $\fraction{\pi}{2}$, $\fraction{\pi}{4}$, $\fraction{\pi}{6}$, $\fraction{\pi}{3}$, the coordinates of the points of interection between the terminal arms of the angles and the circumference of the circle in the interval $0 \leq \theta \leq 2\pi$. For each quadrant, indicate the sign of each of the primary trigonometric ratios.</p>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->