---
layout: post
title: Unit Circle and Trigonometric Ratios 13
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The point $(-4,3)$ lies on the terminal arm of an angle $\theta$ in standard position.</p>
<ol>
<li>Find the approximate value of $\theta$, to the nearest tenth of a degree.</li>
<li>Find the exact value of the six trigonometric ratios as rational numbers.</li>
</ol>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->