---
layout: post
title: Unit Circle and Trigonometric Ratios 3
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>A $30^\circ-60^\circ-90^\circ$ triangle may be created by drawing an altitude in an equilaterial triangle. If the hypothenuse of the triangle has a length of 1 unit, then use the Pythagorean theorem to find the length of the altitude, $x$. Express your answer as an exact value.</p>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->