---
layout: post
title: Unit Circle and Trigonometric Ratios 10
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The point $\left( -\fraction{1}{2},\fraction{\sqrt{3}}{2} \right)$ lies at the intersection of the unit circle and the terminal arm of an angle $\theta$ in standard position. What is $\theta$, as an exact radian measure?</p>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->