---
layout: post
title: Sine Function, Cosine Function and Transformations 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Given the function $y=4 \cos \left( 2x + \fraction{\pi}{2} \right)$.</p>
<ol>
<li>Express the function in the form $y = a \cos \left( b(x-c)\right)+d$.</li>
<li>Describe the transformations that could be applied to the graph $y= \cos x$ to produce the graph $y=4 \cos \left( 2x + \fraction{\pi}{2} \right)$.</li>
<li>Compare the following characteristice between $y= \cos x$ and $y=4 \cos \left( 2x + \fraction{\pi}{2} \right)$: amplitude, vertical displacement, range, phase shift, period and domain.</li>
</ol>

<!--
{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->