---
layout: post
title: Linear relations 8
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>A person's height can be estimated using the fact that height and the length of the humerus (the bone of the upper arm) is a linear relation. Is it know that the humerus of a 160 cm adult is about 30 cm long, while that of a 190 cm adult is about 40 cm long.</p>

<ol type="A">
  <li>Express the height $h$ as a relation of the length of the humerus $l$.</li>
  <li>Determine the height, to the nearest tenth, of an adult whose humerus measures 38.2 cm.</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
