---
layout: post
title: Unit Conversions 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Convert the following unit as indicated using unit analysis. Provide all decimal answers in fractional form.
<ol type="A">
  <li>$5 \mbox{ ft} \Rightarrow \mbox{in}$</li>
  <li>$32560 \mbox{ yd} \Rightarrow \mbox{mi}$</li>
  <li>$9 \mbox{ mi} \Rightarrow \mbox{ft}$</li>
  <li>$180 \mbox{ yd} \Rightarrow \mbox{ft}$</li>
  <li>$12 \mbox{ ft} 2 \mbox{ in} \Rightarrow \mbox{in}$</li>
  <li>$207 \mbox{ in} \Rightarrow \mbox{yd}$</li>
</ol>
<p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
