---
layout: post
title: Representing relations 5
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For each of the following table of values, express the relationship<p>
  <ol>
    <li>in words</li>
    <li>as an equation ($y$ in terms of $x$; $x$ is the independent variable, $y$ is the dependent variable)
  </ol>

</p>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered">
      <tbody>
        <tr><td>$x$</td><td>$y$</td></tr>
        <tr><td>1 </td><td>2  </td></tr>
        <tr><td>2 </td><td>4  </td></tr>
        <tr><td>3 </td><td>8  </td></tr>
        <tr><td>4 </td><td>16 </td></tr>
        <tr><td>5 </td><td>32 </td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <table class="table table-bordered">
      <tbody>
        <tr><td>$x$</td><td>$y$</td></tr>
        <tr><td>1 </td><td>4 </td></tr>
        <tr><td>2 </td><td>1 </td></tr>
        <tr><td>3 </td><td>0 </td></tr>
        <tr><td>4 </td><td>1 </td></tr>
        <tr><td>5 </td><td>4 </td></tr>
      </tbody>
    </table>
  </div>

<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
