---
layout: post
title: Representing relations 1
learningoutcomes:
  - code: 10C-Relations-and-Functions-1.1
  - code: 10C-Relations-and-Functions-5.1
sourcetitle:
sourceurl:
video: na
---
<div class="row">
  <div class="col-sm-6">
    <ol>
      <li>Name the points represented by the following coordinates.</li>
      <ol type="a">
        <li>$(2,3)$</li>
        <li>$(6,4)$</li>
        <li>$(-5,-1)$</li>
        <li>$(-2,3)$</li>
        <li>$(6,-4)$</li>
        <li>$(-1,-5$</li>
      </ol>
      <li>State the coordinates of the x and y-intercepts.</li>
      <li>Name the points located in...</li>
      <ol type="a">
        <li>quadrant I</li>
        <li>quadrant II</li>
        <li>quadrant III</li>
        <li>quadrant iV</li>
      </ol>
      <li>Plot the following points,</li>
      <ol type="a">
        <li>$(-3,1)$</li>
        <li>$(-4,-6)$</li>
        <li>$(10,-10)$</li>
        <li>$(0,5)$</li>
        <li>$(-5,0)$</li>
      </ol>
    </ol>
  </div>
  <div class="col-sm-6">
<iframe src="https://www.desmos.com/calculator/uux18jbhc8?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe></div>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
