---
layout: post
title: Function Notation 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Using the graph of $f(x)$, evaluate the following.</p>

<!-- Two column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-6">
      <ol type="A">
        <li>$f(0)$</li>
        <li>$f(1)$</li>
        <li>$f(x)=1$</li>
        <li>$f(x)=-1$</li>
      </ol>
    </div>

    <div class="mt-3 col-md-6">
      <iframe src="https://www.desmos.com/calculator/ifw1f7cqfq?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>
    </div>
  </div>
</div>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
