---
layout: post
title: Linear relations 7
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The approximate temperature of the Earth's atmosphere at different altitudes up to 10 km is given in the table.</p>

<div class="container">
  <div class="row">
    <div class="mt-3 col-md-4">
      <table border=1 width=100>
      <tbody>
      <tr>
        <td style="text-align:center">Altitude (km)</td>
        <td style="text-align:center">Temperature ($^\circ$C)</td>
      </tr>
      <tr>
        <td style="text-align:center">$0$</td>
        <td style="text-align:center">$15$</td>
      </tr>
      <tr>
        <td style="text-align:center">$2$</td>
        <td style="text-align:center">$2$</td>
      </tr>
      <tr>
        <td style="text-align:center">$4$</td>
        <td style="text-align:center">$-11$</td>
      </tr>
      <tr>
        <td style="text-align:center">$6$</td>
        <td style="text-align:center">$-24$</td>
      </tr>
      <tr>
        <td style="text-align:center">$8$</td>
        <td style="text-align:center">$-37$</td>
      </tr>
      <tr>
        <td style="text-align:center">$10$</td>
        <td style="text-align:center">$-50$</td>
      </tr>
      </tbody>
      </table>
    </div>

    <div class="mt-3 col-md-8">
      <ol type="A">
        <li>Using your graphing calculator or <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a> graph the data.</li>
        <li>Determine the equation relating temperature and altitude.</li>
        <li>Determine the x- and y-intercepts and explain their meaning. Round to the nearest hundreth if necessary.</li>
        <li>Explain whether this scenario represents a linear relation.</li>
        <li>Determine, to the nearest tenth, the temperature at an altitude of 7 km.</li>
        <li>Determine, to the nearest tenth, the altitude at which the temperature is -56$^\circ$C.</li>
        <li>Above 10 km, the temperature remains fairly constant at -56$^\circ$C. Show this on the graph.</li>
      </ol>
    </div>
  </div>
</div>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
