---
layout: post
title: Representing Relations 6
learningoutcomes:
  - code:
sourcetitle: "The Globe and Mail (May 27, 2019) Alberta slashes minimum wage for teen students"
sourceurl: "https://www.theglobeandmail.com/canada/alberta/article-alberta-slashes-minimum-wage-for-teen-students/"
video: na
---
<p>In 2015 the provincial government in Alberta increased the minimum wage for students under 18 to \$15/hour. In 2019 the newly elected provincial government rolled back the minimum salary to \$13/hour. </p>

<h6>A.</h6>
<p>Express the relations between the number of hours worked, $h$, and total earnings, $E$, for the $15/hour minimum wage as an equation.</p>

<h6>B.</h6>
<p>Express the relations between the number of hours worked, $h$, and total earnings, $E$, for the $13/hour minimum wage as an equation.</p>

<h6>C.</h6>
<p>State the independent and dependent variables.</p>

<h6>D.</h6>
<p>Is the relation between hours worked and earnings a discrete or continuous relation? Explain your reasoning.</p>

<h6>E.</h6>
<p>Using <a href="https://www.desmos.com/calculator
">Desmos</a>, graph the relations (on the same graph using two colours, one for each equation) for a 40 hour work week. Label the axes and adjust the domain and the range to realistic values for this context.{% include_relative hint-modal.html content="To set the domain and range in Desmos you will need to define a restriction for each graphed function. <a href='https://learn.desmos.com/restrictions' target='_blank'>Learn more about restrictions in Desmos</a>." %}</p>

<h6>F.</h6>
<p>What would your earnings be for an 40 hour work week under the two pay rates? What is the difference in earnings between the two pay rates? How much less would you earn after a week after the roll back?</p>

<h6>G.</h6>
<p>How many more hours would you have to work to earn $1000 after the roll back?</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
