---
layout: post
title: Domain and Range 3
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The volume of fuel, $v$, in liters (L) in a car's gas tank is given by the formula $v=60.5-0.072d$, where $d$ kilometers is the distance driven by the car.</p>
<ol type="A">
  <li>Using your graphing calculator or <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a> graph the relation.{% include_relative hint-modal.html content="Do not forget to label the axes and including units." %}</li>
  <li>Determine how much gas is left after driving 165 km. Round to the nearest hundreth.</li>
  <li>If 15 L of gas remains in the tank, how far was the car driven? Round to the nearest tenth.</li>
  <li>State the domain and range of this relation in both set and interval notations. Round to the nearest tenth.</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
