---
layout: post
title: Linear relations 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For each relation:
  <ul>
    <li>Create a table of values between $x_{min}=-10$ and $x_{max}=10$</li>
    <li>Graph the relations with a graphing calculator or with <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a></li>
    <li>Identify relation as linear or non-linear</li>
    <li>Visually identify the x and y-intercepts</li>
  </ul>
</p>

<ol type="A">
  <li>$y=4-x$</li>
  <li>$y=x^2+3x-5$</li>
  <li>$y=\displaystyle\frac{1}{4}x$</li>
  <li>$y=(x+3)(x-2)$</li>
  <li>$-3y+2x=9$</li>
</ol>



{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
