---
layout: post
title: Converting Radicals 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Express as a mixed radical in simplest form.</p>
<ol type="A">
  <li>$\sqrt{20}$</li>
  <li>$\sqrt{300}$</li>
  <li>$\sqrt{99}$</li>
  <li>$\sqrt[3]{7000}$ {% include_relative hint-modal1.html content="Start by finding the largest perfect cube factor" %}</li>
</ol>
<p>Express as an entire radical.</p>
<ol type="A">
  <li>$7\sqrt{10}$</li>
  <li>$2\sqrt{13}$</li>
  <li>$6\sqrt{2}$</li>
  <li>$3\sqrt[3]{-2}$ {% include_relative hint-modal2.html content="Start by taking the cube root of the numerical coefficient cubed" %}</li>
</ol>

{% capture solution %}
<p>Express as a mixed radical in simplest form.</p>
<ol type="A">
  <li>$\sqrt{20}$ $=\sqrt{4 \times 5}$ $= \sqrt{4}\sqrt{5}$ $=2\sqrt{5}$</li>
  <li>$\sqrt{300}$ $=\sqrt{100 \times 3}$ $= \sqrt{100}\sqrt{3}$ $=10\sqrt{3}$</li>
  <li>$\sqrt{99}$ $=\sqrt{9 \times 11}$ $= 3\sqrt{11}$</li>
  <li>$\sqrt[3]{7000}$ $=\sqrt[3]{1000 \times 7}$ $= 10\sqrt[3]{7}$</li>
</ol>
<p>Express as an entire radical.</p>
<ol type="A">
  <li>$7\sqrt{10}$ $= \sqrt{7^2}\sqrt{10}$ $=\sqrt{49}\sqrt{10}$ $=\sqrt{49 \times 10}$ $=\sqrt{490}$</li>
  <li>$2\sqrt{13}$ $= \sqrt{2^2}\sqrt{13}$ $=\sqrt{4}\sqrt{13}$ $=\sqrt{4 \times 13}$ $=\sqrt{52}$</li>
  <li>$6\sqrt{2}$ $=\sqrt{6^2}\sqrt{2}$ $=\sqrt{36}\sqrt{2}$ $=\sqrt{36 \times 2}$ $=\sqrt{72}$</li>
  <li>$3\sqrt[3]{-2}$ $=\sqrt[3]{3^3}\sqrt[3]{-2}$ $=\sqrt[3]{27}\sqrt[3]{-2}$ $=\sqrt[3]{27(-2)}$ $=\sqrt[3]{-54}$</li>
</ol>
{% endcapture %}
{% include_relative solution.html content=solution %}
