---
layout: post
title: Representing relations 3
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For each of the following table of values, express the relationship (i) in words, (ii) as an equation (y in terms of $x$ where $x$ is the independent variable and $y$ is the dependent variable), and (iii) using a mapping diagram (arrow diagram).</p>
<ol type="a">
  <li>
    <table border=1 width=100>
    	<tbody>
    	<tr>
    		<td style="text-align:center">$x$</td>
    		<td style="text-align:center">$-2$</td>
    		<td style="text-align:center">$-1$</td>
    		<td style="text-align:center">$0$</td>
    		<td style="text-align:center">$1$</td>
    		<td style="text-align:center">$2$</td>
    	</tr>
    	<tr>
    		<td style="text-align:center">$y$</td>
    		<td style="text-align:center">$-\fraction{8}{3}$</td>
    		<td style="text-align:center">$-\fraction{7}{3}$</td>
    		<td style="text-align:center">$-2$</td>
    		<td style="text-align:center">$-\fraction{5}{3}$</td>
    		<td style="text-align:center">$-\fraction{1}{3}$</td>
    	</tr>
	   </tbody>
    </table>
  </li>
  <li>
  <table border=1 width=100>
  <tbody>
  <tr>
  	<td style="text-align:center">$x$</td>
  	<td style="text-align:center">$y$</td>
  </tr>
  <tr>
  	<td style="text-align:center">$-5$</td>
  	<td style="text-align:center">$16$</td>
  </tr>
  <tr>
  	<td style="text-align:center">$-1$</td>
  	<td style="text-align:center">$4$</td>
  </tr>
  <tr>
  	<td style="text-align:center">$0$</td>
  	<td style="text-align:center">$1$</td>
  </tr>
  <tr>
  	<td style="text-align:center">$3$</td>
  	<td style="text-align:center">$-8$</td>
  </tr>
  <tr>
  	<td style="text-align:center">$7$</td>
  	<td style="text-align:center">$-20$</td>
  </tr>
  </tbody>
  </table>
  </li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
