---
layout: post
title: Linear relations 5
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>An airplane at an altitude of 10000 m begins to descend at 300 m/min. </p>
<ol type="A">
  <li>State the independent and dependent variables.</li>
  <li>Using your graphing calculator or <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a> draw a graph showing the altitude of the airplane over time for the first 10 minutes of descent.</li>
  <li>Determine the equation of this relation in terms of $h$, height in meters, and $t$, time in minutes.</li>
  <li>Explain the meaning of the x and y-intercepts.</li>
  <li>State the domain and range, in set notation, of the airplane from when it starts its descent until it reaches the ground. Round to the nearest whole number.</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
