---
layout: post
title: Linear relations 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For each relation, algebraically determine the x- and y-intercepts.  Verify your answers graphically with a graphing calculator or with <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a>.</p>

<ol type="A">
  <li>$y=2x+3$</li>
  <li>$y=\fraction{3}{4}x+12$</li>
  <li>$-2x-4y+6=0$</li>
  <li>$-3y-45+18x=0$</li>
</ol>



{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
