---
layout: post
title: Representing relations 5
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The following table shows how the temperature affected the number of people visiting an outdoor pool on five consequtive weekends.</p>
<table border=1 width=100>
<tbody>
<tr>
	<td style="text-align:center">Temperature ($^\circ$C)</td>
	<td style="text-align:center">Number of people</td>
</tr>
<tr>
	<td style="text-align:center">$16$</td>
	<td style="text-align:center">$8$</td>
</tr>
<tr>
	<td style="text-align:center">$12$</td>
	<td style="text-align:center">$8$</td>
</tr>
<tr>
	<td style="text-align:center">$18$</td>
	<td style="text-align:center">$15$</td>
</tr>
<tr>
	<td style="text-align:center">$22$</td>
	<td style="text-align:center">$18$</td>
</tr>
<tr>
	<td style="text-align:center">$25$</td>
	<td style="text-align:center">$26$</td>
</tr>
</tbody>
</table>

<h3>A.</h3>
List the ordered pairs of the relation.

<h3>B.</h3>
Represent the table of values on graph. Give the graph a title and label the axes. State the independent and dependent variables.

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
