---
layout: post
title: Exponent Laws 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Simplify:
<ol type="A">
  <li>$z^2 \times z^7$</li>
  <li>$\left( a^3 b^4\right) \left( a^8 b^3\right)$</li>
  <li>$\left(-2xy\right) \left(-5x^7y^3\right)$</li>
  <li>$\fraction{a^6}{a^3}$</li>
  <li>$\fraction{-12x^6y^5}{4xy^3}$</li>
</ol>
</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
