---
layout: post
title: Domain and Range 9
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>A Ferris wheel ride at an amusement park takes 3 minutes to make one rotation. Riders get on at a height of 2 m above the ground and reach a maximum height of 64 m. State the domain and range, in set and interval notation, for two rotations.</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
