---
layout: post
title: Linear relations 6
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The temperature of Earth's crust $T$ degrees Celsius is a function of the deapth $d$ kilometers below the surface, where $T=\fraction{23}{2}d+20$. </p>
<ol type="A">
  <li>Using your graphing calculator or <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a> graph the relation for values of $d$ up to 5 km.</li>
  <li>The Mponeng Gold Mine in South Africa is currently the world's deepest mine. At its deepest point the mine reaches 4 km below the Earth's surface. Determine the temperature at the bottom of the mine.</li>
  <li>Determine the depth, to one decimal, below the surface for when the temperature is 45$^\circ$C.</li>
  <li>State the domain and range, in interval notation, for the function in this context.</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
