---
layout: post
title: Linear relations 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Given the y-value, algebraically determine the corresponding x-value for the following linear relations. Verify your answers graphically with a graphing calculator or with <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a>.</p>

<ol type="A">
  <li>$3x+1=4y$ for $y=4$</li>
  <li>$-\fraction{3}{5}x+2y-1=0$ for $y=5$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
