---
layout: post
title: Linear relations 9
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>A ball is thrown into the air from the balcony of an apartment and falls to the ground. The height $h$ meters of the ball relative to the ground $t$ seconds after being thrown is given by $h=-5t^2+10t+35$.</p>

<ol type="A">
  <li>What is the maximum height of the ball?</li>
  <li>What are the x- and y-intercepts? Round to the nearest tenth if necessary. Explain what thease mean.</li>
  <li>What is the height of the ball after 3 seconds?</li>
  <li>At what time does the ball reach a height of 38 m? Round to the nearest tenth.</li>
  <li>When is the ball above 15 m? Round to the nearest tenth?</li>
  <li>Explain whether this is a linear or non-linear scenario.</li>
  <li>What is the domain and range, in set notation, of the relation in this context?</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
