---
layout: post
title: Representing relations 2
learningoutcomes:
  - code: 10C-Relations-and-Functions-1.2
sourcetitle:
sourceurl:
video: na
---
<p>Classify the following as representing discrete or continuous data.{% include_relative hint-modal.html content="Discrete data can only take certain values. For example, the number of students in a class (you cannot have half a student) or the results of rolling a dice (only the values 1, 2, 3, 4, 5 and 6 are possible). Continuous data can take any value (within a range). For example, a person's height could be any value (within the range of human heights), not just certain fixed heights or the time in a race can be measured to fractions of a second." %}</p>
<ol type="a">
  <li>The farmers' market sells fresh tomatoes for &#36;1.29 per kilogram.</li>
  <li>Rachel is saving &#36;10/month to purchase a new watch.</li>
  <li>The formula $F=1.8C+32$ compares the temperature in degrees Celcius ($C$) to temperatures in degrees Fahrenheit ($F$).</li>
  <li><iframe src="https://www.desmos.com/calculator/afijiflrm1?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe></li>
  <li><iframe src="https://www.desmos.com/calculator/eqjvzjbyjy?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe></li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
