---
layout: post
title: Unit conversion 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Convert the following unit as indicated, rounded to the nearest hundredth when applicable.
<ol type="A">
  <li>$26 \mbox{ mm} \Rightarrow \mbox{cm}$</li>
  <li>$8.174 \mbox{ km} \Rightarrow \mbox{m}$</li>
  <li>$1.6 \mbox{ cm} \Rightarrow \mbox{m}$</li>
  <li>$572 \mbox{ mm} \Rightarrow \mbox{m}$</li>
  <li>$5 \mbox{ m} \Rightarrow \mbox{mm}$</li>
  <li>$98 \mbox{ m} \Rightarrow \mbox{km}$</li>
</ol>
<p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
