---
layout: post
title: Domain and Range 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Draw a relation that satisfies the given domain and range.</p>
<ol type="A">
  <li>line where $\{ x | x>3, x\in\mathbb{R} \}$ and $\{ y | y<-1, y\in\mathbb{R} \}$</li>
  <li>oval where the domain is $[-3,1]$ and the range is $[2,8]$</li>
  <li>U-shaped where $x\in\mathbb{R}$ and $\{ y | y\leq2, y\in\mathbb{R} \}$</li>
  <li>wave (sinusoidal shape) where the domain is $(-\infty, \infty)$ and the range is $[-5,10]$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
