---
layout: post
title: Function Notation 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Explain whether the following relations are functions.</p>

<h3>A.</h3>
<iframe src="https://www.desmos.com/calculator/lm8dakjytb?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h3>B.</h3>
<iframe src="https://www.desmos.com/calculator/ur1f8prrsh?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h3>C.</h3>
<iframe src="https://www.desmos.com/calculator/fwtggpciaa?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h3>D.</h3>
<iframe src="https://www.desmos.com/calculator/etrruojh0q?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h3>E.</h3>
<iframe src="https://www.desmos.com/calculator/bzjnulruef?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h3>F.</h3>
<iframe src="https://www.desmos.com/calculator/oz5km44u5h?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h3>G.</h3>
$${(2,1),(3,5),(3,6),(4,-2),(5,-1)}$$

<h3>H.</h3>
$${(3,-2),(4,1),(5,1),(6,0),(7,-2)}$$

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
