---
layout: post
title: Percent of glaceriers lost
learningoutcomes:
  - code:
sourcetitle: Kelowna Daily Courier (2019)
sourceurl: http://www.kelownadailycourier.ca/opinion/article_b5af49f0-b7d6-11e9-85e8-2b3fdc7116ac.html
video: na
---
<p>
Due to human caused global warming glaciers in the Rocky Mountains have been shrinking in size in size faster in the last 150 years than they have since the last great ice age ended 10,000 years ago. Between 1985 and 2005, Jasper National Park lost 135 of its 554 glaciers and Banff National Park lost 29 of its 365. Determine, to the nearest tenth, the percentage of glacier each park lost during these two decades. Which park experience the largest loss of glaciers? How many glaciers remained in the two parks in 2005.
</p>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          Percent of glacier lost in Jasper National Park between 1985-2005: $$
          \displaystyle\frac{135}{554} \times 100 = 24.3682... \approx 24.4 \% $$

          Percent of glacier lost in Banff National Park between 1985-2005: $$
        \displaystyle\frac{29}{365} \times 100 = 7.94520... \approx 7.9 \% $$

         During these two decades Jasper National Park lost a larger percentage of glaciers than Banff National Park. In 2005 Jasper National Park had 419 glaciers left ($$554-135$$) and Banff National Park had 336 glaciers left ($$365-29$$).
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
