---
layout: post
title: Domain and Range 7
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The surface area formula for a cube is $A=6s^2$, where $A$ represents the surface area of the cube and $s$ represents the length of an edge.</p>

<ol type="A">
<li>State the independent and dependent varibles.</li>
<li>State the domain and range in interval and set notation of a cube that has an edge length of at least 4 units.</li>
<li>Describe what the ordered pair (9, 486) means in the context of this question.</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
