---
layout: post
title: Domain and Range 6
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The speed, $v$, meters per second, of a freely falling object after it has fallen through a distance of $h$ meters from the point of release can be expressed as $v=4.4 \sqrt{h}$. State the domain and range in both set and interval notation.</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
