---
layout: post
title: Representing relations 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Determine the missing values in the table.</p>
<ol type="a">
  <li>$y$ is three less than double $x$.
    <table border=1 width=100>
    <tbody>
    <tr>
    	<td style="text-align:center">$x$</td>
    	<td style="text-align:center">$y$</td>
    </tr>
    <tr>
    	<td style="text-align:center">$-2$</td>
    	<td style="text-align:center"></td>
    </tr>
    <tr>
    	<td style="text-align:center">$0$</td>
    	<td style="text-align:center"></td>
    </tr>
    <tr>
    	<td style="text-align:center"></td>
    	<td style="text-align:center">$-7$</td>
    </tr>
    <tr>
    	<td style="text-align:center"></td>
    	<td style="text-align:center">$17$</td>
    </tr>
    </tbody>
    </table>
  </li>
  <li>$$y=-\fraction{1}{2}x+6$$
  <table border=1 width=100>
  <tbody>
  <tr>
  	<td style="text-align:center">$x$</td>
  	<td style="text-align:center">$y$</td>
  </tr>
  <tr>
  	<td style="text-align:center">$-15$</td>
  	<td style="text-align:center"></td>
  </tr>
  <tr>
  	<td style="text-align:center">$2$</td>
  	<td style="text-align:center"></td>
  </tr>
  <tr>
  	<td style="text-align:center"></td>
  	<td style="text-align:center">$0$</td>
  </tr>
  <tr>
  	<td style="text-align:center"></td>
  	<td style="text-align:center">$-4$</td>
  </tr>
  </tbody>
  </table>
  </li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
