---
layout: post
title: Representing Relations 7
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For each scenario...
<ul>
  <li>identify the independent and dependent variable,</li>
  <li>identify if variables are discrete or continuous,</li>
  <li>sketch a graph which best illustrates the given scenario, {% include_relative hint-modal.html content="Think about how discrete vs. continuous data will affect the graph." %}, and</li>
  <li>describe the graphed scenario using words.</li>
</ul>
<p>Label the axes and include units (you need to decide on appropriate units).</p>

<h6>A.</h6>
<p>how a person's height above ground varies over time during a Ferris wheel ride.</p>

<h6>B.</h6>
<p>number of jumps made by a frog and the total distance it travels.</p>

<h6>C.</h6>
<p>height of a bouncy ball after being dropped from the top of a building.</p>

<h6>D.</h6>
<p>number of houses sold by a realtor in a year.</p>

<h6>E.</h6>
<p>distance from home as you drive to Calgary to visit a friend.</p>

<h6>F.</h6>
<p>your speed as you bike up and down a hill.</p>

<h6>G.</h6>
<p>revenue from selling eggs at the Farmer's market.</p>

<h6>H.</h6>
<p>your level as you start the campain in a new game on your XBox.</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
