---
layout: post
title: Function Notation 7
learningoutcomes:
  - code:
sourcetitle: Global News (June 26, 2019) Lower minimum wage for Alberta youth takes effect Wednesday
sourceurl: https://globalnews.ca/news/5434502/lower-minimum-wage-alberta-youth/
video: na
---
<p>A high school student having a summer job as a sales person at a bicycle store is paid a monthly salary of \$2080 plus 5% commission on monthly sales. The function that represents her monthly earnings is $E(s) = 2080 + 0.05s$.</p>

<ol type="A">
  <li>State what the variables $E$ and $s$ represent.</li>
  <li>Determine the value of $E(4500)$ and explain its meaning.</li>
  <li>Determine the value of $s$ for $E(s)=3500$ and explain its meaning.</li>
  <li>Determine the value of $E(0)$ and explain its meaning.</li>
  <li>Determine the hourly wage (using the monthly salary without commission) assuming the youth works 40 hours per week.</li>
  <li>In June 2019 the newly elected Alberta government rolled back the minimum youth wage to the amount calculated in question E. Before the roll back the minimum youth wage was \$15/hour. How would the function representing the monthly earnings ($E(s) = 2080 + 0.05s$) change assuming \$15/hour wage?
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
