---
layout: post
title: Representing Relations 8
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Describe a possible scenario for the graphs given below.</p>

<h6>A.</h6>
<iframe src="https://www.desmos.com/calculator/5sz6o9v8cs?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h6>B.</h6>
<iframe src="https://www.desmos.com/calculator/fwft6bs4af?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h6>C.</h6>
<iframe src="https://www.desmos.com/calculator/s1avzcxthu?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h6>D.</h6>
<iframe src="https://www.desmos.com/calculator/efynaarngh?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h6>E.</h6>
<iframe src="https://www.desmos.com/calculator/kktuxiayrh?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h6>F.</h6>
<iframe src="https://www.desmos.com/calculator/lc0xmmfpzl?embed" width="250px" height="250px" style="border: 1px solid #ccc" frameborder=0></iframe>


{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
