---
layout: post
title: Strimko Puzzle
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The object of the puzzle is to fully fill in the given grid with the numbers 1 through 4 where
<ol>
  <li>Each row must contain different numbers.</li>
  <li>Each column must contain different numbers.</li>
  <li>Each stream must contain different numbers.</li>
</ol>
<img src="/images/strimko.png" width=50%>
</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
