---
layout: post
title: Magic Squares
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Complete the following magic squares using the numbers 1-9 for the 3x3 square and 1 to 16 for the 4x4 square so that the sum of every row, column and diagonal is the same.</p>
<img src="/images/magic-square-3.png" width=50%>
<img src="/images/magic-square-4.png" width=50%>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
