---
layout: post
title: Exponent Laws 5
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Simplify. Express in exponential form.
<ol type="A">
  <li>$$\left( \fraction{48a^{-\frac{2}{3}} b^{\frac{5}{4}} c^{-\frac{1}{2}} }{50ab^{-1}c^{\frac{1}{2}}} \right) \left( \fraction{35 a^\frac{1}{3} b^{-\frac{3}{4}} c^{-\frac{3}{2}} }{ 42 a^{-\frac{4}{3}} b^{\frac{1}{4}} c}\right)$$</li>
  <li>$$ \sqrt{ \fraction{32 x^{-5} y^{\frac{3}{2}} \times 18 x^2 y^{-\frac{1}{4}} }{4 x y^{-\frac{3}{4}}} }$$</li>
</ol>
</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
