---
layout: post
title: Polynomial Functions 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For each of the following functions determine the,
  <ul>
    <li>degree</li>
    <li>leading coefficient</li>
    <li>numerical constant</li>
    <li>x-intercept(s)</li>
    <li>y-intercept</li>
    <li>domain</li>
    <li>range</li>
    <li>end bahaviour</li>
    <li>coordinates of turning point</li>
  </ul>
</p>
Round decimals to the nearest hundreth.

<ol>
  <li>$g(x) = -6x^2+4x-2$</li>
  <li>$h(x) = -x^3+x+4$</li>
  <li>$f(x) = (x+1)(x+2)$</li>
  <li>$k(x) = 2x^2+6x+4$</li>
  <li>$p(x) = x^3-2x^2+6x+4$</li>
</ol>

{% capture solution %}
  <h3>A.</h3>
  <ul>
    <li>degree: 2</li>
    <li>leading coefficient: $-6$</li>
    <li>numerical constant: $-2$</li>
    <li>x-intercept(s): none</li>
    <li>y-intercept: $-2$</li>
    <li>domain: $x \in \mathbb{R}$</li>
    <li>range: ${y | y \leq -1.33, y \in \mathbb{R}}$</li>
    <li>end bahaviour: $Q3 \rightarrow Q4$</li>
    <li>coordinates of turning point: $(0.33, -1.33)$</li>
  </ul>

  <h3>B.</h3>
  <ul>
    <li>degree</li>
    <li>leading coefficient</li>
    <li>numerical constant</li>
    <li>x-intercept(s)</li>
    <li>y-intercept</li>
    <li>domain</li>
    <li>range</li>
    <li>end bahaviour</li>
    <li>coordinates of turning point</li>
  </ul>

  <h3>C.</h3>
  <ul>
    <li>degree</li>
    <li>leading coefficient</li>
    <li>numerical constant</li>
    <li>x-intercept(s)</li>
    <li>y-intercept</li>
    <li>domain</li>
    <li>range</li>
    <li>end bahaviour</li>
    <li>coordinates of turning point</li>
  </ul>

  <h3>D.</h3>
  <ul>
    <li>degree</li>
    <li>leading coefficient</li>
    <li>numerical constant</li>
    <li>x-intercept(s)</li>
    <li>y-intercept</li>
    <li>domain</li>
    <li>range</li>
    <li>end bahaviour</li>
    <li>coordinates of turning point</li>
  </ul>

  <h3>E.</h3>
  <ul>
    <li>degree</li>
    <li>leading coefficient</li>
    <li>numerical constant</li>
    <li>x-intercept(s)</li>
    <li>y-intercept</li>
    <li>domain</li>
    <li>range</li>
    <li>end bahaviour</li>
    <li>coordinates of turning point</li>
  </ul>
{% endcapture %}
{% include_relative solution.html content=solution %}



  <!-- Solution template
  {% capture solution %}

  {% endcapture %}
  {% include_relative solution.html content=solution %}
  -->
