---
layout: post
title: Function Notation 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Use exponent laws to simplify the following:
<ol type="A">
  <li>$\left( a^2 \right)^{\frac{3}{2}}$</li>
  <li>$\left( 16x^2 \right)^{\frac{1}{2}}$</li>
  <li>$\left( 2x^{\frac{1}{3}} \right) \left( -4x^{\frac{5}{3}} \right)$</li>
  <li>$\fraction{x^{\frac{1}{2}}}{x^{\frac{1}{2}}}$</li>
  <li>$\left( \fraction{16x^8}{y^{-2}} \right)^{\frac{3}{4}}$</li>
</ol>
</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
