---
layout: post
title: Domain and Range 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Sketch examples of relations with the following domain and range.</p>
<ol type="A">
  <li>Domain: $\{x|x\in\mathbb{R} \}$, Range: $\{y|y\in\mathbb{R}\}$</li>
  <li>Domain: $\{x|x\geq 0, x \in \mathbb{R}\}$, Range: $\{y|y\geq 0, y \in \mathbb{R}\}$</li>
  <li>Domain: $\{x|x\geq 0, x \in \mathbb{R}\}$, Range: $\{y|y\in\mathbb{R}\}$</li>
  <li>Domain: $\{x|x \geq -2, x\in\mathbb{R}\}$, Range: $\{y| y \leq -2, y\in\mathbb{R} \}$</li>
  <li>Domain: $(-\infty, \infty)$, Range: $(-\infty, \infty) $</li>
  <li>Domain: $(-\infty, 0)$, Range: $(-\infty, \infty)$</li>
  <li>Domain: $(-\infty, \infty)$, Range: $[1, \infty)$</li>
  <li>Domain: $[5,10]$, Range: $[-3,3] $</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
