---
layout: post
title: Function Notation 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Consider the functions $f(x)=-2x-1$, $g(x)=x+2$ and $h(x)=\fraction{1}{4}x-3$. Evaluate the following. Leave answers as fractions if necessary. Verify using your graphing calculator or <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a>. </p>

<ol type="A">
  <li>$g(1)$</li>
  <li>$f(a)$</li>
  <li>$h(12)$</li>
  <li>$f \left( \fraction{1}{4} \right) $</li>
  <li>$g(-2)$</li>
  <li>$h(0)$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
