---
layout: post
title: Surface area and volume 3
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>You have accepted a summer job of painting your classroom. Before you can start painting you need to determine the amount of paint that will be required and the cost of the paint. Each can of paint holds 3.79 litres of paint and covers 37 m$^2$. The classroom needs two coats of paint.</p>

<p>Work in pairs (2 students) using metre sticks to measure the dimensions of the classroom. Assume that furniture and fixtures will be removed during the painting. Do not stand on desks or chair.</p>
<ol type="A">
  <li>Draw a sketch of each wall to be painted. Label the dimensions in meters, rounding to the nearest tenth of a meter, and show the calculations required to determine the surface area of the wall segment.</li>
  <li>Determine the total surface area to be painted in square meters, rounding to the nearest tenth.</li>
  <li>Determine the amount, rounded to the nearest litre, of paint that will be required to paint the classroom. Remember that the classroom needs two coats of paint.</li>
  <li>How many cans of paint, rounded up to the nearest can, do you need to buy?</li>
  <li>If each can of paint costs $38.97, how much will all the paint cost?</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
