---
layout: post
title: Properties of Functions 11
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<ol type="A">
  <li>For $f(x)=3x^2-4x$, then determine (in simplified form):
  <ol type="i">
    <li>$\fraction{f(a)-f(-2)}{a+2}$</li>
    <li>$\fraction{f(3+h)-f(3)}{h}$</li>
  </ol>
  <li>For $f(x)=\fraction{x}{x+1}$, determine (in simplified form):</li>
  <ol type="i">
    <li>$\fraction{f(a)-f(-2)}{a+2}$</li>
    <li>$\fraction{f(3+h)-f(3)}{h}$</li>
  </ol>
</ol>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
