---
layout: post
title: Simplifying Rational Expressions 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Simplify the following rational expressions.</p>

<ol type="A">
  <li>$\displaystyle\frac{(a+1)(a-6)}{(a+7)(a+1)}$</li>
  <li>$\displaystyle\frac{8y+2}{8y}$</li>
  <li>$\displaystyle\frac{3t^2-75}{(t+3)(t-5)}$</li>
  <li>$\displaystyle\frac{x+7}{49-x^2}$</li>
  <li>$\displaystyle\frac{c-4}{4-c}$</li>
  <li>$\displaystyle\frac{2p^3-4p^2}{16-8p}$</li>
</ol>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
