---
layout: post
title: Higher Derivatives 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Rougly sketch the function $y=f(x)$. Answers will vary.</p>

<!-- Two column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-6">
      <h4>A.</h4>
      $f'(x)>0$ and $f''(x)<0$
    </div>

    <div class="mt-3 col-md-6">
      <h4>B.</h4>
      $f(x)<0$, $f'(x)<0$, and $f''(x)>0$
    </div>
  </div>
</div>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
