---
layout: post
title: Right Trigonometry 6
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>A lighthouse lookout is 10 m tall. The lighthouse is situated on a cliff that is 51 m above sea level. The lighthouse is there to warn boats of the danger of shallow waters and the possibility of rocks close to the shore. The safe distance for boats from this cliff is 75 m. If the keeper is at the top of the lighthouse lookout and observes a boat at an angle of depression of $50^\circ$, is the boat a safe distance from the cliff? Justify your conclusion.</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
