---
layout: post
title: Factoring Polynomials 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Factor the following polynomials by removing the greatest common factor.</p>

<ol type="A">
  <li>$21x+14y$</li>
  <li>$5a^2+25a$</li>
  <li>$-4mn-6m^2$</li>
  <li>$5x^4+15x^3+5x^2$</li>
  <li>$18x-16y$</li>
  <li>$18x^2y^2-45xy+9x$</li>
</ol>

<!--
{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
