---
layout: post
title: Right Trigonometry 7
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Two forest fires are spotted on opposite sides of an observation tower. From the top of the tower, the angle of depression to one fire is $3^\circ$. The angle of depression to the other fire is $7^\circ$.</p>
<ol type="A">
  <li>If the observation tower is 75 m high, how far apart are the fires?</li>
  <li>If the two fires were on the same side of thr tower on the same compass heading. How far apart would they be then?</li>
</ol>
</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
