---
layout: post
title: Position and Velocity 12
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: https://www.youtube.com/embed/aVE3pw9Io5g
---
<p>Sketch a single continuous position-time function with the following features, labelled and interpreted in the context of a moving object.
<ul>
  <li>Domain: $\{t | t \geq 0, t \in \mathbf{R}\}$</li>
  <li>One zero and two positive roots</li>
  <li>One maximum and one minimum point</li>
  <li>Positive displacement from the origin</li>
  <li>Negative displacement from the origin</li>
  <li>Point at $v(t) < 0 \cap s(t) < 0$ {% include_relative hint-modal1.html content="The intersection symbol represents 'and'" %}</li>
  <li>Point at $v(t) < 0 \cap s(t) > 0$</li>
  <li>Point at $v(t) > 0 \cap s(t) < 0$</li>
  <li>Point at $v(t) > 0 \cap s(t) > 0$</li>
  <li>Point at $v(t) = 0 \cap s(t) > 0$</li>
  <li>Point at $v(t) = 0 \cap s(t) < 0$</li>
</ul
</p>


{% capture solution %}
{% endcapture %}
{% include_relative solution.html content=solution %}
