---
layout: post
title: Determine Domain and Range Algebraically 3
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>State the domain in interval notation.</p>
<ol type="A">
  <li>$y=\sqrt[3]{64-x^2}$</li>
  <li>$y=-\fraction{7}{x^3+1}$</li>
  <li>$y=\fraction{-3}{x^3+2x^2-9x-18}$</li>
  <li>$y=\sqrt[4]{x^2-25}$</li>
  <li>$y=\fraction{1}{\sqrt{x^2+x-12}}$</li>
  <li>$y=\fraction{2}{x\sqrt{11-x}}$</li>
</ol>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
