---
layout: post
title: Linear Functions and Tangents 6
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>For the function $y=x^2-2x-15=(x-1)^2-16$ at $x=-4$,
<ul>
  <li>sketch the function, the general secant, and the tangent line</li>
  <li>determine the slope of the general secant line $PQ$. Simplify your answer.</li>
  <li>using a table, estimate the slope of the tangent by bringing $Q$ closer to $P$</li>
</ul>  
</p>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
