---
layout: post
title: Related Rates 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>A 6 m ladder is leaning against the wall and its foot is sliding away from the wall at a speed of 1 m/s. Find the rate at which the top of the ladder is falling when the foot of the ladder is 3 m from the wall. Assume that the wall and the floor are perpendicular.</p>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
