---
layout: post
title: Simplifying Rational Expressions 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Simplify the following rational expressions.</p>

<ol type="A">
  <li>$$\fraction{6x}{(x-4)^2} - \fraction{2}{x-4}$$</li>
  <li>$$\fraction{3}{x-7} - \fraction{4}{x^2-49}$$</li>
  <li>$$\fraction{4}{x-3} - \fraction{2}{3-x}$$</li>
  <li>$$\fraction{7x(x-3)}{(x+7)(x+2)} \div \fraction{21x(x-3)}{(x+7)^2}$$</li>
  <li>$$\left( 6-\fraction{2}{x} \right) \div \left( 9 - \fraction{1}{x^2} \right)$$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
