---
layout: post
title: Basic Derivatives 5
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Differentiate.</p>

<!-- Three column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-4">
      <h4>A.</h4>
      $$y=x^3 \times x^9$$
    </div>

    <div class="mt-3 col-md-4">
      <h4>B.</h4>
      $$y=\fraction{1}{x^7}$$
    </div>

    <div class="mt-3 col-md-4">
      <h4>C.</h4>
      $$f(t) = \sqrt[6]{t^11}$$
    </div>
  </div>
</div>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
