---
layout: post
title: Basic Derivatives 11
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Differentiate.</p>

  <!-- Three column template -->
  <div class="container">
    <div class="row">
      <div class="mt-3 col-md-4">
        <h4>A.</h4>
        $$g(x) = \fraction{x^\pi}{x^3}$$
      </div>

      <div class="mt-3 col-md-4">
        <h4>B.</h4>
        $$f(x) = x^2 \sqrt[3]{x}$$
      </div>

      <div class="mt-3 col-md-4">
        <h4>C.</h4>
        $$h(x) = \fraction{1}{\sqrt[9]{x^4}}$$
      </div>
    </div>
  </div>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
