---
layout: post
title: Position and Velocity 13
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The position of a moving particle on a line is given by the equation $s = f(t) = 2t^3-21t^2+60t$, $t \geq 0$ where $t$ is measured in seconds and $s$ in metres.</p>
<ol type="A">
  <li>What is the velocity after 3 sec. and after 6 sec.?</li>
  <li>When is the particle at rest?</li>
  <li>When is the particle moving in a positive direction?</li>
  <li>Find the total distance travelled by the particle during the first 6 sec.</li>
</ol>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
