---
layout: post
title: Implicit Differentiation 11
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Find the rate of change indicated. Assume all of the variables are functions of time.</p>

<!-- Two column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-6">
      <h4>A.</h4>
      For $V=\pi r^2 h$, find $\fraction{dV}{dt}$.
    </div>

    <div class="mt-3 col-md-6">
      <h4>B.</h4>
      For $A=2 \pi r^2 +2 \pi rh$, find $\fraction{dA}{dt}$. 
    </div>
  </div>
</div>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
