---
layout: post
title: Right Trigonometry 1
learningoutcomes:
  - code: 10C-Measurement-4.4
  - code: test1
  - code: test2
sourcetitle:
sourceurl:
video: na
---
<a>A road rises 15 m for each 150 m of horizontal distance. What is the angle of inclination of the road to the nearest degree? {% include_relative hint-modal.html content="Sketch the scenario and label with provided information." %}</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
