---
layout: post
title: Sketching Functions using Transformations 6
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Without using technology sketch of the following functions, identifying the transformations and noting and important features / points:</p>
<ol type="A">
  <li>$y=(x-3^3+1)$</li>
  <li>$y=-\fraction{1}{4}x^2-9$</li>
  <li>$y=\sqrt{25-x}+3$</li>
  <li>$y=|x^2-4|$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
