---
layout: post
title: Position and Velocity 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>$s(t) = t^2-6t+5$, where $s$ in in metres, $t$ is in seconds, and North + and South -. </p>

<!-- Two column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-6">
      <h4>A.</h4>
      Determine the position of the object when it comes to rest.
    </div>

    <div class="mt-3 col-md-6">
      <h4>B.</h4>
      Determine whether the object is moving towards or away from the origin at $x=2$ sec.
    </div>
  </div>
</div>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
