---
layout: post
title: Quadratic Functions 1
learningoutcomes:
  - code: 20-2-Relations-and-Functions-1.5
sourcetitle:
sourceurl:
video: na
---
<p>Which of the following functions is not a quadratic function?</p>
<ol type="A">
  <li>$$f(x) = x^2-5x+8$$</li>
  <li>$$g(x) = -3(x+5)^2-7$$</li>
  <li>$$h(x) = x(x^2+4)-2$$</li>
  <li>$$P(X) = 1-x^2$$</li>
</ol>
</p>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
