---
layout: post
title: Sketching Functions using Transformations 4
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Draw a rough sketch of the following functions. Identify vertex, intercepts and asymptotes.</p>
<ol type="A">
  <li>$y=-|x+2|-1$</li>
  <li>$y=\fraction{1}{x-2}+3$</li>
  <li>$y=(x-2)^2-2$</li>
  <li>$y=-\sqrt{x-4}$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
