---
layout: post
title: Limits 7
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Evalue the following limits, if possible.</p>
<ol type="A">
  <li>$$\lim_{x \to 4} \fraction{9-x^2}{x+5}$$</li>
  <li>$$\lim_{x \to 8} \fraction{\sqrt{1-x}}{x-8}$$</li>
  <li>$$\lim_{x \to 7} \fraction{x^2-49}{x^2+7x}$$</li>
  <li>$$\lim_{x \to -1} \fraction{x+1}{x^2-1}$$</li>
  <li>$$\lim_{x \to 5} \fraction{\fraction{1}{x}-\fraction{1}{5}}{x-5}$$</li>
  <li>$$\lim_{x \to 10} \fraction{\sqrt{x+6}+4}{x-10}$$</li>
</ol>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
