---
layout: post
title: Quadratic Equations 6
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>A ball is thrown upwards from the top of a cliff. The height, $h$, of the ball in metres after $t$ seconds is given by the equation $h(t) = -4.9t^2 +12t +125$. How long will it take for the ball to reach its maximum height, rounded to the nearest hundreth of a second?</p>

<!--
{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
