---
layout: post
title: A Curve Sketching Procedure 11
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Sketch the graph of the function $f(x) = \fraction{x^2}{1-x^2}$. {% include_relative hint-modal1.html content="Determine the following characteristics: domain, intercepts, asymptotes, local max/min (1st derivative test), concavity and points of inflection (2nd derivative test.)" %}</p>

<!--
{% capture solution
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->
