---
layout: post
title: Trigonometric Basics 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Draw and label the Unit Circle, each quadrant should include three exact angles measures in radians with the corresponding exact coordinates. {% include_relative hint-modal1.html content="Note that the Unit Circle we sketched in class and that was posted on Google Classroom has an error. Can you find it?" %} Use your Unit Circle to evaluate $\cos^2 \left( \fraction{\pi}{6} \right) -2\tan \fraction{9\pi}{4} + 3\sin(-7\pi)$ exactly. </p>

<!--
{% capture solution
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->
