---
layout: post
title: Differential Equations with Initial Conditions 14
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>On the surface of the moon, the acceleration due to gravity is 1.6 m/s$^2$ downward. A rock is thrown upward at a speed of 31 m/s and at a height of 22 m. Determine, to the nearest hundredth</p>
<ol type="A">
  <li>its maximum height</li>
  <li>its velocity when it hits the ground</li>
</ol>

<!--
{% capture solution
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->
