---
layout: post
title: A Curve Sketching Procedure 10
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Fully sketch $y=-x(x-3)^2$, $y'=-3(x-1)(x-3)$, $y''=-6(x-2)$. {% include_relative hint-modal1.html content="Determine the following characteristics: domain, intercepts, asymptotes, local max/min (1st derivative test), concavity and points of inflection (2nd derivative test.)" %}</p>

<!--
{% capture solution
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->
