---
layout: post
title: Max / Min Problems 14
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Boat A is located D km due South of boat B. Boat A moves North at $v_A$ km/h, while at the same time, boat B moves East at $v_B$ km/h. Determine an expression in terms of $D$, $v_A$, and $v_B$ that shows when the boats are closest to each other.</p>

<!--
{% capture solution
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
-->
