---
layout: post
title: Multiplying polynomials 5
category: Polynomials
description: Determining the simplified expression for the area dn perimieter of a rectangle
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>The length of a rectangle is $2x+5$ and the width is $3x-2$</p>
<ol type="A">
  <li>Determine a simplified expression to represent the area of this rectangle.</li>
  <li>If $x=3$ cm, determine the area of this rectangle using two methods.</li>
  <li>If the rectangle is a square, determine the length of one side.</li>
</ol>

<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h2>A.</h2>
            \[
              \begin{align}
                & (9a+4)+(2a+2)+(a-4) \\
              = & 9a+4+2a+2+a-4 \\
              = & 12a + 2
              \end{align}
            \]

          <h2>B.</h2>
            \[
              \begin{align}
               12a+2 & = 38 \\
               12a   & = 36 \\
               a     & = 36 \div 12 \\
               a     & = 3
              \end{align}
            \]

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
