---
layout: post
title: Independent and dependent events 2
category: Probability
description: Independent and dependent events
tags: Skill building
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Let $A$ and $B$ be events with $P(A)=\displaystyle\frac{1}{2}$, $P(B)=\displaystyle\frac{1}{3}$ and $P(A \cap B) = \displaystyle\frac{1}{4}$. Provide all answers as fractions. No calculators.</p>
<ol type="A">
  <li>Are $A$ and $B$ are dependent or independent events? Explain.</li>
  <li>Determine $P(B|A)$</li>
  <li>Determine $P(A|B)$</li>
  <li>Determine $P(A \cup B)$</li>
</ol>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
          <p>$A$ and $B$ are dependent events because $P(A \cap B) \neq P(A) \times P(B) \Rightarrow$ $\displaystyle\frac{1}{4} \neq \displaystyle\frac{1}{2} \times \displaystyle\frac{1}{3} \Rightarrow \displaystyle\frac{1}{4} \neq \displaystyle\frac{1}{6}$

          <h3>B.</h3>


          <h3>C.</h3>
          <h3>D.</h3>
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
