---
layout: post
title: Ocean acidification
category: Logarithms
description: Calculating how much more acidic the ocean is due to an increase in atmospheric CO2 concentrations
tags: Problem solving
level: difficult
grade: 12
course: 30-2
sourcetitle: Jacobson (2005) Journal of Geophysical Research, Atmospheres 110 (D07302)
sourceurl: https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2004JD005220
video: na
published: true
---
<p>For more than 200 years, or since the industrial revolution, the concentration of carbon dioxide (CO$_2$) in the atmosphere has increased due to the burning of fossil fuels and land use change. The ocean absorbs about 30 percent of the CO$_2$ that is released into the atmosphere, and as levels of atmospheric CO$_2$ increase, so do the levels in the ocean.</p>

<p>When CO$_2$ is absorbed by seawater, a series of chemical reactions occur resulting in the increased concentration of hydrogen ions. This increase causes the seawater to become more acidic, causing large scale die-off in calcifying organisms such as corals, sea shells, oysters, clams, sea urchins, and plankton.</p>

<p>Over the last 200 years ocean pH is estimated to have decreased from approximately 8.25 to 8.14. Use the logarithmic pH formula, $\mbox{pH} = -\log [\mbox{H}_3 \mbox{O}^+]$, where $[\mbox{H}_3 \mbox{O}^+]$ is the hydrogen ion concentration in $\mbox{mol}/\mbox{L}$ to determine the percent increase in hydrogen ions in the world's oceans. Round to the nearest percent.</p>

{% if true %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
            <p>Using the $\mbox{pH} = -\log [\mbox{H}_3 \mbox{O}^+]$ formula we calculate the hyderogen ion concentrations corresponding to pH=8.25 and pH=8.14.</p>

            <p>$8.25 = -\log [\mbox{H}_3 \mbox{O}^+] \Rightarrow$ $-8.25 = \log [\mbox{H}_3 \mbox{O}^+] \Rightarrow$ (convert to exponential form) $10^{-8.25}=[\mbox{H}_3 \mbox{O}^+]$. Convert to scientific form using calculator $[\mbox{H}_3 \mbox{O}^+] = 10^{-8.25} = 5.62 \times 10^{-9} \mbox{mol}/\mbox{L}$.

            <p>$8.14 = -\log [\mbox{H}_3 \mbox{O}^+] \Rightarrow$ $-8.14 = \log [\mbox{H}_3 \mbox{O}^+] \Rightarrow$ $[\mbox{H}_3 \mbox{O}^+] = 10^{-8.14} = 7.24 \times 10^{-9} \mbox{mol}/\mbox{L}$</p>

            <p>Divide larger number by smaller number and multiply by 100. Subtract 100 from this percentage to obtain the percent increase: $\displaystyle\frac{7.24 \times 10^{-9}}{5.62 \times 10^{-9}} \times 100 = 128.82 \Rightarrow $ $128.82 - 100 = 28.82 \approx 29$.</p>

            <p>In the last 200 years there has been a 29% increase of hydrogen icons in the world's oceans.</p>
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
