---
layout: post
title: Multiplying polynomials 10
category: Polynomials
description: Polynomial expressions for 3D objects
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
showsolution: false
---
<div class="row">
  <div class="col-sm-8">
  <p>On 10 January 1992, during a storm in the North Pacific Ocean a shipping container was washed  overboard from the container ship the Ever Laurel. One of these containers held a large number of Floatees, a child's bath toy which came in a number of forms: red beavers, green frogs, blue turtles and yellow ducks. Within a year the rubber bath toys began to wash up on coastlines across the world, including on beaches in Alaska, Hawaii and Japan. Others may have made their way to the arctic and become trapped in ice, while at least one toy is believed to have made its way to the United Kingdom and washed up on a beach in Scotland.</p>
  <ol type="A">
    <li>A standard shipping container measures $3x+5$ metres by $2x-3$ metres by $2x+4$ metres. Determine which expression represents the length, width and height. </li>
    <li>Determine a simplified expression for the volume of a shipping container.</li>
    <li>If $x=\displaystyle\frac{12}{5}$, determine the dimensions of a shipping container. Round dimensions to the nearest tenth.</li>
    <li>If the packaged bath toys, on average, each occupied a volume of 0.0026 m$^3$, determine the number of of toys that were in the shipping container.</li>
  </ol>
  </div>
  <div class="col-sm-4">
    <div class="card bg-dark text-white">
      <img class="card-img-top" src="/images/multiplying-polynomials-10.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The Science Behind the Math</h5>
        <p class="card-text">Since 1992, these plastic bath toys have been traveling across the world going with the current. These toys have given scientists valuable information about the Pacific gyre; A circulating current which runs between Japan, Southern Alaska, Kodiak, and Aleutian Islands. Although scientists knew of its existence, before the toys they had no clue how long a complete circuit would take. Now scientist know it takes around 3 years for a full circulation around the Pacific gyre. These plastic toys also shows how seemingly innocuous plastic items can be an enduring form of pollution in the world’s seas and oceans, and underlines how difficult it will be to solve the world’s marine plastic crisis.</p>
        <p>Image source: <a href="https://en.m.wikipedia.org/wiki/File:Friendly_Floatees.png">Wikipedia</a></p>
      </div>
    </div>
  </div>
</div>

<!--  -->
{% if page.showsolution %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          Solution goes here...
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
