---
layout: post
title: Experimental probability
category: Probability
description: Determining the experimental probability of dice rolls
tags: Skill building
level: moderate
grade: 12
course: 20-2
sourcetitle:
sourceurl:
video: na
published: true
---
<ol>
  <li>Determine the theoretical probability of rolling an odd number using a regular die</li>
  <li>Determine the experimental probabilites of rolling an odd number using a regular dice by rolling the die 5 times, 25 times, and 50 times. <input type="button" value="Roll the die 5 times">
  <div id="dice"></div>
</li>
  <li>Compare the theoretical probability to the experimental probabilities. What do you notice? Explain.</li>
</ol>

<style>
  #dice {font-size: 6rem;}
</style>

<script>
  document.querySelector('input[type=button]').addEventListener('click', function(){rollTheDice();});

var rollTheDice = function() {
    var i,
        faceValue,
        output = '',
        diceCount = 5;
    for (i = 0; i < diceCount; i++) {
        faceValue = Math.floor(Math.random() * 6);
        output += "&#x268" + faceValue + "; ";
    }
    document.getElementById('dice').innerHTML = output;
}
</script>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
