---
layout: post
title: Ford Mustang Mach-E
category: Counting methods
description:
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle: Ford web site
sourceurl: https://www.ford.ca/suvs/mach-e/2021/
video: na
published: true
---
<p>On November 17, 2019 Ford announced their upcoming four-door all electric powered crossover SUV. It is expected to go on sale in 2020. The model will be launched with the following custom options:
<ul>
  <li>Trim options: Select, California Route 1, Premium, First Edition and GT Performance.</li>
  <li>Drive type: All trim options have the option of All Wheel Drive (AWD) with the Select and Premium trim option also having a Rear Wheel Drive (RWD) option.</li>
  <li>Battery Type: The Select and Premium trim options come with Standard Range battery and all trim options except the Select come with an Extended Range battery option.</li>
</ul>
</p>

<p>Using a tree-diagram determine the number of possible customized vehicles one can choose from.</p>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
          <p>Solve $\ln (1-P) = -0.0034-0.0053x$ for $P$ by converting to exponential form, $e^{-0.0024-0.0053x}=1-P$. Add $P$ to both sides, $e^{-0.0024-0.0053x}+P=1$ and subtract the power term from both sides, $P(x)=1-e^{-0.0024-0.0053x}$.</p>

          <h3>B.</h3>
          <p>Window settings: $X:[0,1000,100]$, $Y:[0,1,0.1]$</p>
          <img src="http://maythemathbewithyou.com/calculator/co2-emission-tax.png" width=50%>

          <h3>C.</h3>
          <p>The x-axis represents the tax per ton of carbon emitted into the atmosphere ($/ton). The y-axis represents the reduction of emissions as a percentage in decimal form.</p>

          <h3>D.</h3>
          $P(60)=1-e^{-0.0024-0.0053x}$, $P(60) = 0.274\ldots$, multiply by 100 to obtain the percent, $0.274\ldots \times 100 = 27$% reduction in carbon emissions.

          <h3>E.</h3>
          $P(x)=0.5 \Rightarrow x=130$. With a carbon levy of 130dollars/ton the model predicts that the carbon emissions will be reduced by 50%.

          <h3>F.</h3>
          <p>The graph is initially steep and then "flattens out", this means that small to moderate increases in the carbon levy will have a large effect on the carbon emissions (large reduction), while the same increase once the carbon levy already is hight will have less of an effect on the emissions. The relation between amount of carbon tax and emission reductions represents diminishing returns.</p>
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
