---
layout: post
title: Multiplying polynomials 3
category: Polynomials
description: Expanding and simplifying polynomials
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Expand and simplify the following polynomials.</p>
<ol type="A">
  <li>$3[5a-(2-4b)]+6x[2a-(5)+3b]$</li>
  <li>$5a[2a+3(4a-9)]+3a[a-7(2a+6)]$</li>
  <li>$2x[5x-(4+7y)]-6x[3x+(2y-5)]$</li>
  <li>$8x[2x-3y(x+2)]-5x[4x-7y(2x-9)]$</li>
</ol>

<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h2>A.</h2>
            \[
              \begin{align}
                & (9a+4)+(2a+2)+(a-4) \\
              = & 9a+4+2a+2+a-4 \\
              = & 12a + 2
              \end{align}
            \]

          <h2>B.</h2>
            \[
              \begin{align}
               12a+2 & = 38 \\
               12a   & = 36 \\
               a     & = 36 \div 12 \\
               a     & = 3
              \end{align}
            \]

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
