---
layout: post
title: Arranging numbers
category: Counting methods
description:
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>You are making numbers using only the digits 0, 1, 2, 3 and 4. no digits are repeated.</p>
<ol type="A">
  <li>How many 5-digit natural numbers can you make?</li>
  <li>How many natural numbers can you make consisting of at least 4 digits?</li>
  <li>How many odd natural numbers can you make consisting of at least 4 digits?</li>
  <li>How many 5-digit natural numbers can you make that are divisible by 5?</li>
</ol>

{% if true %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
          $4 \times 4 \times 3 \times 2 \times 1 =$ $4 \times 4!= 96$ possible arrangements. Note that the number cannot start with a zero.
          <h3>B.</h3>
          $4 \times 4 \times 3 \times 2 + 4 \times 4 \times 3 \times 2 \times 1 =$ $96+96=192$ possible arrangements.
          <h3>C.</h3>
          $3 \times 3 \times 2 \times 2 + 3 \times 3 \times 2 \times 1 \times 2=$ $36+36=72$ possible arrangements.
          <h3>D.</h3>
          $4 \times 3 \times 2 \times 1 \times 1 = 24$ possible arrangements.
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
