---
layout: post
title: Solving quadratic equations by factoring 3
category: Quadratic Equations
description: Solving quadratic equations by factoring
tags: Skill building
level: moderate
grade: 12
course: 20-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Solve by factoring.</p>
<ol type="A">
  <li>$2x^2-200=0$</li>
  <li>$x^2-81=0$</li>
  <li>$8x^2-18=0$</li>
  <li>$4x^2+4x-80=0$</li>
  <li>$5x^2+15-20=0$ </li>
</ol>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>

          <h3>B.</h3>

          <h3>C.</h3>

          <h3>D.</h3>

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
