---
layout: post
title: Solving quadratic equations
category: Rational expression
description:
tags: Skill building
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Solve the following quadratic equations by factoring (when possible) and by using the quadratic formula. Verify the roots by graphing on the calculator. When applicable, answer to the nearest tenth.</p>

<ol type="A">
  <li>$x^2-3x-10=0$</li>
  <li>$x^2+7x-18=0$</li>
  <li>$-x^2-5x-10=0$</li>
  <li>$5x^3+x^2-2x=0$ {% include_relative modal.html content="You need to use both factoring and the quadratic equation to solve this cubic function." %} </li>
</ol>

<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}
