---
layout: post
title: Elements of sets
category: Set theory
description:
tags: Skill building
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Given $A=\{1,2,4,8\}$, $B=\{2,3,5,7\}$, $C=\{2,4,6,8\}$ and $U=\{1,2,3,4,5,6,7,8, 9, 10\}$, list the elements of the following sets:</p>
<ol type="A">
  <li>$A \setminus B$</li>
  <li>$C_{only}$</li>
  <li>$A \cap B$</li>
  <li>$A \cup B$</li>
  <li>$A^{\prime}$</li>
  <li>$A \cup B \cup C$</li>
  <li>$A \cap B \cap C$</li>
  <li>$A^{\prime} \cup B^{\prime}$</li>
  <li>$(A \cup B)^{\prime}$</li>
</ol>

<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
