---
layout: post
title: Multiplying polynomials 2
category: Polynomials
description: Multiplying monomials
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Simplfy by multiplying the following monomials and polynomials.</p>
<ol type="A">
  <li>$5a(2a^2 + 3a^2 - a + 6)$</li>
  <li>$-20x^3(x^2-4x+1)$</li>
  <li>$4(2x+6y) + 5(3x-3y)$</li>
  <li>$2x(3x^2-5xy) - 5y(x^2-2y^2)$</li>
  <li>$-6r(r^2+s-5rt) - 2r^2(-r-3s+2t)$</li>
  <li>$-3m(5m^2-3mn) + 2xy(8x-13y+21)$</li>
  <li>$14mn(3m-2n) - 5mn(6m+4n)$</li>
  <li>$5xy(2x-3y-7) + 2xy(8x-13y+21)$</li>
</ol>

<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h2>A.</h2>
            \[
              \begin{align}
                & (9a+4)+(2a+2)+(a-4) \\
              = & 9a+4+2a+2+a-4 \\
              = & 12a + 2
              \end{align}
            \]

          <h2>B.</h2>
            \[
              \begin{align}
               12a+2 & = 38 \\
               12a   & = 36 \\
               a     & = 36 \div 12 \\
               a     & = 3
              \end{align}
            \]

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
