---
layout: post
title: Combinations of lines, triangles and diagonals
category: Counting methods
description: Determining the number of lines through vertices
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<div class="row">
  <div class="col-sm-6">
  <p>Given the following arrangements of points, with no 3 points collinear, determine:</p>
  <ol type="A">
    <li>the number of lines that can be drawn through the points.</li>
    <li>the number of triangles that can be formed with the points as vertices.</li>
    <li>the number of diagonals that can be formed, assuming that a diagonal is a line segement connecting two vertices that are not adjacent to each other.</li>
  </ol>
  </div>
  <div class="col-sm-6">
    <img src="http://maythemathbewithyou.com/tex/combinations-of-lines-triangles-and-diagonals.png" width=50%>
  </div>
</div>

{% if true %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
          $_{10} C_2 = 45$ possible lines.
          <h3>B.</h3>
          $_{10} C_3=120$ possible triangles.
          <h3>C.</h3>
          $_{10} C_2 - 10 = 45-10 = 35$ possible diagonals. Subtract the 10 lines connecting the points along the perimeter.
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
