---
layout: post
title: Product of dice
category: Probability
description: Determining the probability of dice products
tags: Skill building
level: moderate
grade: 12
course: 20-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Two dice are rolled and the numbers on each die are multiplied together. Round probabilities to the nearest hundreth and percents to the nearest whole percent.</p>

<ol type="A">
  <li>Create an outcome table for the sample space of products?</li>
  <li>What is the $P(\mbox{product is even number})$?</li>
  <li>What is the $P(\mbox{product is odd number})'$?</li>
  <li>What is $P(\mbox{product is} \leq 10)$?</li>
  <li>What is $P(\mbox{product is} > 10)$?</li>
  <li>What is $P(\mbox{product is an even number} < 20)'$?</li>
  <li>What is $P(\mbox{product is a prime number})$? {% include_relative modal.html content="A prime number is a natural number greater than 1 that cannot be formed by multiplying two smaller natural numbers." %}</li>
</ol>

{% if true %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2</td>
                <td>4</td>
                <td>5</td>
                <td>8</td>
                <td>10</td>
                <td>12</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>3</td>
                <td>6</td>
                <td>9</td>
                <td>12</td>
                <td>15</td>
                <td>18</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>4</td>
                <td>8</td>
                <td>12</td>
                <td>16</td>
                <td>20</td>
                <td>24</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>5</td>
                <td>10</td>
                <td>15</td>
                <td>20</td>
                <td>25</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>6</td>
                <td>12</td>
                <td>18</td>
                <td>24</td>
                <td>30</td>
                <td>36</td>
              </tr>
            </tbody>
          </table>

          <h3>B.</h3>
          $P(\mbox{product is even number}) = \displaystyle\frac{27}{36} = \displaystyle\frac{3}{4} = 0.75$ (75%)

          <h3>C.</h3>
          $P(\mbox{product is odd number})' = P(\mbox{product is even number}) = \displaystyle\frac{27}{36} = \displaystyle\frac{3}{4} = 0.75$ (75%)

          <h3>D.</h3>
          $P(\mbox{product is} \leq 10) = \displaystyle\frac{19}{36} = 0.53$ (53%)

          <h3>E.</h3>
          $P(\mbox{product is} > 10) = P(\mbox{product is} \leq 10)' = 1-0.53 = 0.47$ (47%)

          <h3>F.</h3>
          $P(\mbox{product is an even number} < 20)' = \displaystyle\frac{36-20}{36} = \displaystyle\frac{16}{36} = \displaystyle\frac{4}{9} = 0.44$ (44%)

          <h3>G.</h3>
          $P(\mbox{product is a prime number}) = \displaystyle\frac{6}{36} = \displaystyle\frac{1}{6} = 0.17$ (17%)

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
