---
layout: post
title: Climate emergency
category: Counting methods
description:
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle: Oxford Dictionaries
sourceurl: https://languages.oup.com/word-of-the-year/word-of-the-year-2019
video: na
published: true
---
The Oxford Word of the Year is a word or expression shown through usage evidence to reflect the ethos, mood, or preoccupations of the passing year, and have lasting potential as a term of cultural significance.

The Oxford Word of the Year 2019 is climate emergency.

Climate emergency is defined as ‘a situation in which urgent action is required to reduce or halt climate change and avoid potentially irreversible environmental damage resulting from it.’

This year, heightened public awareness of climate science and the myriad implications for communities around the world has generated enormous discussion of what the UN Secretary-General has called ‘the defining issue of our time’.

But it is not just this upsurge in conversation that has caught our attention. Our research reveals a demonstrable escalation in the language people are using to articulate information and ideas concerning the climate. This is most clearly encapsulated by the rise of climate emergency in 2019.

<ol type="A">
  <li>... distinct six letter words that can be created.</li>
  <li>... distinct two-word phrases where the first word has 7 letters and the second word has 9 letters and where each word starts with two consonants and end with two vowels.</li>
  <li>... distinct two-word phrases where the first word has 7 letters and the second word has 9 letters and where each word starts with exactly two consonants and end with exactly two vowels.</li>
</ol>

{% if true %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
          <p>The order of the letters matters, hence this is a permutation problem where we arrange a subset (6 letters) of the avaliable letters (16 letters, not including the space). The following letters repeat, "C" (2), "M" (2) and "E" (4) and we will need to divide out the repeats. $\displaystyle\frac{_{16}P_6}{2! \times 2! \times 4!} = 60060$ possible 6 letter words.</p>
          <h3>B.</h3>
          Consonants in red, vowels in green and the space between the two words in blue.
          $\overbrace{\color{red}{9 \times 8} \times 8 \times 7 \times 6 \times \color{green}{7 \times 6}}^{\mbox{7 letter word}} \times \color{blue}{1} \times \overbrace{\color{red}{7 \times 6} \times 5 \times 4 \times 3 \times 2 \times 1 \times \color{green}{5 \times 4}}^{\mbox{9 letter word}} = 102419251200$ (a bit over 102 billion). Divide out the repeats: $\displaystyle\frac{102419251200}{2! \times 2! \times 4!} = 1066867200$ (a bit over 1 billion) possible two-word phrases.
          <h3>C.</h3>
          Consonants in red, vowels in green and the space between the two words in blue.
          $\overbrace{\color{red}{9 \times 8} \times \color{green}{3} \times 4 \times \color{red}{5} \times \color{green}{7 \times 6}}^{\mbox{7 letter word}} \times \color{blue}{1} \times \overbrace{\color{red}{7 \times 6} \times \color{green}{2} \times 3 \times 2 \times 1 \times \color{red}{4} \times \color{green}{5 \times 4}}^{\mbox{9 letter word}} = 2438553600$. Divide out the repeats: $\displaystyle\frac{2438553600}{2! \times 2! \times 4!} = 25401600$ possible two-word phrases.

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
