---
layout: post
title: Multiplying polynomials 7
category: Polynomials
description: Writing simplified expressions for the area of shaded regions
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Write a simplified expression for the area of the shaded region.</p>
<div class="row">
  <div class="col-sm-6">
  <h3>A.</h3>
  <img src="http://mathforfuture.com/tex/multiplying-polynomials-7a.png" width=75%>
  </div>
  <div class="col-sm-6">
    <h3>B.</h3>
    <img src="http://mathforfuture.com/tex/multiplying-polynomials-7b.png" width=75%>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>C.</h3>
    <img src="http://mathforfuture.com/tex/multiplying-polynomials-7c.png" width=75%>
  </div>
  <div class="col-sm-6">
    <h3>D.</h3>
    <img src="http://mathforfuture.com/tex/multiplying-polynomials-7d.png" width=75%>
  </div>
</div>


<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h2>A.</h2>
            \[
              \begin{align}
                & (9a+4)+(2a+2)+(a-4) \\
              = & 9a+4+2a+2+a-4 \\
              = & 12a + 2
              \end{align}
            \]

          <h2>B.</h2>
            \[
              \begin{align}
               12a+2 & = 38 \\
               12a   & = 36 \\
               a     & = 36 \div 12 \\
               a     & = 3
              \end{align}
            \]

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
