---
layout: post
title: BPA concentration in blood
category: Logarithms
description: Determining BPA concentration in blood
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Bisphenol A (BPA) is AN industrial chemical that has been used to make certain plastics, such as plastic bottles including water bottles, tupperware, and baby bottles. BPA is considered toxic in Canada and is banned from being used. The concentration of BPA in blood decreases can be modelled with the half-life equation $A = A_0 \left( \displaystyle\frac{1}{2} \right)^{\frac{t}{h}}$, where $A$ represent the blood concentration of BPA remaining in $\mu$g/kg (micrograms / kg bodyweight), $A_0$ represents the intial concentration in $\mu$g/kg, $t$ represents time in hours and $h$ represents the half life of BPA in the blood. </p>

<p>A person had blood drawn on two occasions 3 hours apart, in the first sample 50 $\mu$g/kg BPA was detected and in the second blood sample 35 $\mu$g/kg BPA was detected.</p>

<ol type=A>
  <li>Determine the half-life of BPA in the blood. Round your answer to the nearest tenth of an hour.</li>
  <li>The detection limit for BPA in the blood is 0.5 $\mu$g/kg. Determine how many hours (to the nearest hour) it will take before the BPA cannot be detected in the blood of the persion giving the blood samples.</li>
</ol>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
