---
layout: post
title: Multiplying polynomials 1
category: Polynomials
description: Multiplying monomials
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Multiplying the following monomials.</p>
<ol type="A">
  <li>$(7a^3b)(4a^2b^5)$</li>
  <li>$(-12mn^3)(3mn^2)$</li>
  <li>$(-9x^2y^3)(-5x^2)$</li>
  <li>$(2x^3y^2)^3(-8x^4y)$</li>
  <li>$(5mn^2)^2(-3m^3n)^2$</li>
  <li>$(5mn^2)(-3m^2n)^2$</li>
  <li>$(-2x^4y^3)^5(-4xy^2)^2$</li>
  <li>$\left(-\displaystyle\frac{1}{3}ab^2c^3 \right)^2 \times \left(-\displaystyle\frac{1}{6}cb^2a^3 \right)^3$</li>
  <li>$((xy)^2)^3 (3yx)$</li>
  <li>$(3p^3q)(-2p^2)\left(-\displaystyle\frac{1}{6}q^3\right)$</li>
</ol>

<!--  -->
{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h2>A.</h2>
            \[
              \begin{align}
                & (9a+4)+(2a+2)+(a-4) \\
              = & 9a+4+2a+2+a-4 \\
              = & 12a + 2
              \end{align}
            \]

          <h2>B.</h2>
            \[
              \begin{align}
               12a+2 & = 38 \\
               12a   & = 36 \\
               a     & = 36 \div 12 \\
               a     & = 3
              \end{align}
            \]

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
