---
layout: post
title: Warmer summers
category: Statistics
description: Normal distribution of canned beverages
tags: Skill building
level: moderate
grade: 12
course: 20-2
sourcetitle: It’s Not Your Imagination. Summers Are Getting Hotter. New York Times (2017)
sourceurl: https://www.nytimes.com/interactive/2017/07/28/climate/more-frequent-extreme-summer-heat.html
video: na
published: true
---
<p>One effect global climate change is causing is a shift in the summer (June-July-August) temperatures in the Northern Hemisphere summer temperatures have shifte toward more extreme heat over the past several decades. In a series of studies scientist compared actual summer temperatures for each decade since the 1980s to a fixed baseline average. During the base period, 1951 to 1980 the mean and standard deviation summer temperature was scaled to $\bar{x}=0$ and the $\sigma=1$.</p>

$\bar{x}=1.5$ and $\sigma=1.4$

<ol type="A">
  <li>Determine the probability of above average summer temperature day in 1980?</li>
  <li>Determine the probability of above average summer temperature day in 2015?</li>
  <li>The researchers defined an "extremely hot" day as 3 standard deviations above the mean. Determine the probability of an extremely hot day in 1980 mand in 2015. </li>
</ol>


{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
1990: mean=50.2, median=19.0
2005: mean=54.8, median=20.1
2017: mean=55.1, median=15.6

          <h3>B.</h3>
1990: range=180-0.5=179.5, std=61.3
2005: range=231.1-0.4=230.7, std=75.0
2017: range=272.8-0.5=272.3, std=77.1
          <h3>C.</h3>
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
