---
layout: post
title: Probability of girl vs boy in Canada and China
category: Probability
description: Determining the probability of giving birth to girls and boys
tags: Skill building
level: moderate
grade: 12
course: 20-2
sourcetitle: United Nations Population Division. World Population Prospects
sourceurl: https://ourworldindata.org/gender-ratio
video: na
published: true
---
<p>Across the world there are differences in the sex ratio at different life stages. This imbalance in the male and female population can in some cases be traced back to birth: in some countries the number of boys and girls born each year is significantly skewed. In the absence of selective abortion practices, births in a given population are typically male-biased – the chances of having a boy are very slightly higher than having a girl. The sex ratio at birth refers to male births per female births. In 2017 there was 105.6 male births for every 100 female births in Canada. In the same year, there was 115 male births for every 100 female births in China.

<ol type="A">
  <li>Determine the probability for a woman to give birth to a boy and the probability of giving birth to a girl in Canada vs China. Round probabilities to nearest hundreth and percents to nearest whole percent.</li>
  <li>Draw the sample space of boys and girls for a family having four children</li>
  <li>For a Canadian family of four children, determine the probability to have...</li>
  <ol>
    <li>2 girls and 2 boys in any order.</li>
    <li>3 girls and 1 boy with a girl being the firstborn.</li>
    <li>at least 2 girls.</li>
    <li>at most 3 boys.</li>
    <li>not having exactly 3 girls.</li>
  </ol>
</ol>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
