---
layout: post
title: Combinations of committees
category: Counting methods
description: Determining the number of lines through vertices
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>In a group of 12 students, there are 7 girls and 5 boys. How many 5 person committees can be made if there are...
<ol type="A">
  <li>at least 3 boys on the committee?</li>
  <li>exactly 4 girls on the committe?</li>
  <li>at most 2 boys on the committee?</li>
</ol>
</p>

{% if true %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
          $\binom{5}{3} \times \binom{7}{2} + \binom{5}{4} \times \binom{7}{1} + \binom{5}{5} \times \binom{7}{0} = 246$ different committees.
          <h3>B.</h3>
          $\binom{7}{4} \times \binom{5}{1} = 175$ different committees.
          <h3>C.</h3>
          $\binom{7}{5} + \binom{5}{1} \times \binom{7}{4} + \binom{5}{2} \times \binom{7}{3} = 546$ different committees.

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
