---
layout: post
title: Arranging a subset of objects
category: Counting methods
description:
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
video: na
published: true
---
<div class="row">
  <div class="col-sm-6"><p>A soft drink company produces soft drink in cans, whose volume reads 355 ml. Random cans are taken and the volume in each of these cans is measured and recorded. Some of the results (volume in ml) are noted in the table below.</p>
  <ol type="A">
    <li>Find the mean and median to the nearest tenth.</li>
    <li>Assuming the volumes may be modelled by a normal distribution, sketch and label the normal curve with the mean and the values for $\pm 3$ standard deviations.</li>
    <li>In a day's production of 100000 cans, how many cans will have a volume between 352.5 mL and 355.5 mL.</li>
  </ol>
  </div>
  <div class="col-sm-6">
    <table class="table">
   <tbody>
     <tr>
       <td>355.5</td>
       <td>353.8</td>
       <td>356.1</td>
       <td>351.0</td>
       <td>352.8</td>
     </tr>
     <tr>
       <td>353.1</td>
       <td>353.7</td>
       <td>355.2</td>
       <td>354.1</td>
       <td>351.9</td>
     </tr>
     <tr>
       <td>354.8</td>
       <td>353.2</td>
       <td>351.9</td>
       <td>355.6</td>
       <td>355.1</td>
     </tr>
     <tr>
       <td>354.8</td>
       <td>355.0</td>
       <td>354.2</td>
       <td>356.2</td>
       <td>351.8</td>
     </tr>
   </tbody>
 </table>
  </div>
</div>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          $6 \times 5 \times 4 \times 3 \times 2 \times 1 = 720$ different arrangements
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
