---
layout: post
title: Fundamental counting principle
category: Counting methods
description:
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle: Science Magazine
sourceurl: http://discovermagazine.com/2006/dec/25-greatest-science-books
video: na
published: true
---
<p>In 2006 the Discover Magazine shortlisted the top 25 most important science books of all time. Ten of the books on the list are,
<ul>
<li><em>The Origin of Species</em> (1859) by Charles Darwin</li>
<li><em>The Voyage of the Beagle</em> (1845) by Charles Darwin</li>
<li><em>Philosophiae Naturalis Principia Mathematica (Mathematical Principles of Natural Philosophy)</em> (1687) by Isaac Newton</li>
<li><em>Dialogue Concerning the Two Chief World Systems</em> (1632) by Galileo Galilei</li>
<li><em>De Revolutionibus Orbium Coelestium (On the Revolutions of Heavenly Spheres)</em> (1543) by Nicolaus Copernicus </li>
<li><em>Physica (Physics)</em> (330 B.C.) by Aristotele</li>
<li><em>What Is Life?</em> (1944) by Erwin Schrödinger</li>
<li><em>Relativity: The Special and General Theory (1916)</em></em> by Albert Einstein</li>
<li><em>The Selfish Gene (1976)</em> by Richard Dawkins</li>
<li><em>The Double Helix (1968)</em> by James Watson</li>
</ul>

<ol type="A">
  <li>How many ways are there of arranging these ten books side by side on a shelf?</li>
  <li>How many ways are there of arranging these ten books chronologically (oldest to newest) side by side on a shelf?</li>
  <li>How many ways are there of arranging these ten books alphabetically (by last name) side by side on a shelf?</li>
</ol>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          $6 \times 5 \times 4 \times 3 \times 2 \times 1 = 720$ different arrangements
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
