---
layout: post
title: Probabilities using counting methods 1
category: Probability
description: Probabilities using counting methods 1
tags: Skill building
level: moderate
grade: 12
course: 20-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Determine the following probabilities to the nearest tenth of a percent.</p>

<ol type="A">
  <li>The probability of randomly selecting only boys to be on a four person committee out of five boys and six girls.</li>
  <li>The probability of randomly selecting an equal number of boys and girls to be on a four person committee out of five boys and six girls.</li>
  <li>The probability of randomly selecting more girls than boys on a four person committee out of five boys and six girls.</li>
  <li>Four cards are dealt from a deck of 52 cards. Determine the probability that the cards contain exactly two aces and exactly one king.</li>
</ol>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <h3>A.</h3>
           $P(\mbox{exactly 2 aces and exactly 1 king }) = \displaystyle\frac{_4 C_2 \times _4 C_1 \times _{44} C_1}{_{52} C_4} = \displaystyle\frac{1056}{270725} 0.0039$ (0.4%)
          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
