---
layout: post
title: Solving equations 12
category: Prereqs
description: Problem solving using linear equations
tags: Problem solving
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Solve the following problems by creating an equation and solving it for the unknown variable. {% include_relative modal.html content="Choose a variable to represent the quantity you are looking for. Express the described context as an equation using your variable. Solve for the unknown variable." %}
<ol type="A">
  <li>Suppose you change your cell phone plan to a cheaper long-distance plan. This plan charges 4¢/min for long-distance calls within Canada, plus a monthly fee of $3.95. For how many minutes could you call long distance in a month for the same total long-distance charge of $18.75?</li>
  <li>The greatest average annual snowfall in Alberta is on the Columbia Icefi eld. The greatest average annual snowfall in Manitoba is at Island Lake. An average of 642.9 mm of snow falls on the Columbia Icefield in a year. This amount of snow is 22.5 mm less than twice the annual average at Island Lake. What is the average annual snowfall at Island Lake?</li>
  <li>The perimeter of a regular hexagon is 3.04 cm less than the perimeter of a regular pentagon. The perimeter of the regular hexagon is 21.06 cm. What is the side length of the regular pentagon?</li>
  <li> The average monthly rainfall in Victoria in July is 2.6 mm less than one fi fth of the amount of rain that falls in Edmonton in the same period. Victoria averages 17.6 mm of rainfall in July. What is the average monthly rainfall in Edmonton in July?</li>
  <li>The average distance of Mercury from the sun is 57.9 million kilometres. This distance is 3.8 million kilometres more than half the average distance of Venus from the sun. What is the average distance of Venus from the sun?</li>
</ol>
</p>

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
