---
layout: post
title: Solving equations 11
category: Prereqs
description: Problem solving using linear equations
tags: Problem solving
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Solve the following problems by creating an equation and solving it for the unknown variable. {% include_relative modal.html content="Choose a variable to represent the quantity you are looking for. Express the described context as an equation using your variable. Solve for the unknown variable." %}
<ol type="A">
  <li>A jar contains equal numbers of nickels and dimes. The total value of the coins is $4.05. How many coins are in the jar?</li>
  <li>A jar contains a mixture of nickels and dimes worth a total of $4.75. There are three times as many nickels as dimes. How many dimes are there?</li>
  <li>A cyclist is travelling six times as fast as a pedestrian. The difference in their speeds is 17.5 km/h. What is the cyclist’s speed?</li>
  <li>Two of Canada’s highest measured waterfalls are in British Columbia. Takakkaw Falls, is in Yoho National Park is 254 m hight. This is 34 m more than half the height of Della Falls in Strathcona Park on Vancouver Island. How high is Della Falls?</li>
  <li>The tallest waterfall in the world is Angel Falls in Venezuela, with a height of about 0.8 km. This height is 0.08 km less than twice the height of Della Falls. Determine the height of Della Falls. Check that your answer agrees with the height in metres you determined in the previous question.</li>
</ol>
</p>

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
