---
layout: post
title: Linear scale factors 4
category: Proportional reasoning
description: Determining the dimensions of Vasa regal ship
tags: Skill building
level: moderate
grade: 11
course: 20-2
sourcetitle:
sourceurl:
video: https://www.youtube.com/embed/3UheOMKs2rE
published: true
---
<div class="row">
  <div class="col-sm-8">
    <p>Vasa is a Swedish warship built between 1626 and 1628. The ship tipped over and sank after sailing only about 1 km into her maiden voyage. After her sinking she fell into obscurity for over 300 years until she was located again in the late 1950s in a busy shipping lane just outside Stockholm harbor. The ship was salvaged with a largely intact hull in 1961. The ship is now located in museum and is one of Sweden's most popular tourist attractions.</p>

    <p>Using the information in the image of the model kit, determine the actual dimensions (length and height) of Vasa. Provide dimensions to the nearest hundreth of a metre. {% include_relative modal.html content="1 km = 1000 m, 1 m = 100 cm." %}</p>
  </div>
  <div class="col-sm-4">
    <div class="card bg-dark text-white">
      <img class="card-img-top" src="/images/vasa-model.jpg" alt="Card image cap">
      <div class="card-body">
        <p>A model kit of the Swedish Regal Ship Vasa.</p>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="card bg-dark text-white">
      <img class="card-img-top" src="/images/vasa-closeup.png" alt="Card image cap">
      <div class="card-body">
        <p>Close up of details of the model kit box.</p>
      </div>
    </div>

  </div>
</div>

{% capture solution %}
Solution goes here...
{% endcapture %}
{% include_relative solution.html content=solution %}
