---
layout: post
title: Linear scale factors 3
category: Proportional reasoning
description: Distance between locations on a map
tags: Skill building
level: moderate
grade: 11
course: 20-2
sourcetitle:
sourceurl:
video: https://www.youtube.com/embed/6jlVExb1Gjs
published: true
---
<div class="row">
  <div class="col-sm-8">
    <p>Determine the actual distance, in kilometers, between Edmonton and Vancouver if the distance between the two cities is 16.4 cm on a map with a scale of 1:5000000.{% include_relative modal.html content="1 km = 1000 m, 1 m = 100 cm." %}</p>

    <p>The shortest driving distance between Edmonton and Vancouver is 1169 km. How much further, to the nearest percent, is it to drive to Vancouver from Edmonton than to fly?</p>
  </div>
  <div class="col-sm-4">
    <div class="card bg-dark text-white">
      <img class="card-img-top" src="/images/distance-edm-van.png" alt="Card image cap">
      <div class="card-body">
        <p>The distance between Edmonton and Vancouver as the crow flies.</p>
        <p>Image source: <a href="https://www.distancefromto.net/distance-from-edmonton-ca-to-vancouver-ca">DistanceFromTo</a></p>
      </div>
    </div>
  </div>
</div>

{% capture solution %}
Solution goes here...
{% endcapture %}
{% include_relative solution.html content=solution %}
