---
layout: post
title: Simplifying radicals 8
category: Radicals
description: Simplifying radicals
tags: Skill building
level: moderate
grade: 11
course: 20-2
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Simplify the following radicals.</p>
<ol type="A">
  <li>$3\sqrt{x}(2\sqrt{x}+6\sqrt{7})$</li>
  <li>$4x\sqrt{x} - 7x\sqrt{x}$</li>
  <li>$\displaystyle\frac{18\sqrt{x}}{2\sqrt{x}}$</li>
  <li>$\displaystyle\frac{20\sqrt{10x^2}}{5\sqrt{2x}}$</li>
  <li>$\displaystyle\frac{10x^2\sqrt{14}}{2x\sqrt{7}}$</li>
</ol>
</p>

{% if true %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->
          <ol type="A">
            <li>$3\sqrt{x}(2\sqrt{x}+6\sqrt{7}) =$ $6x+18\sqrt{7x}$</li>
            <li>$4x\sqrt{x} - 7x\sqrt{x} =$ $-3x\sqrt{x}$</li>
            <li>$\displaystyle\frac{18\sqrt{x}}{2\sqrt{x}} = 9$</li>
            <li>$\displaystyle\frac{20\sqrt{10x^2}}{5\sqrt{2x}} =$ $4\sqrt{5x}$</li>
            <li>$\displaystyle\frac{10x^2\sqrt{14}}{2x\sqrt{7}} =$ $5x\sqrt{2}$</li>
          </ol>

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
