---
layout: post
title: Solving equations 10
category: Prereqs
description: Problem solving using linear equations
tags: Problem solving
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
video: na
published: true
---
<p>Solve the following problems by creating an equation and solving it for the unknown variable. {% include_relative modal.html content="Choose a variable to represent the quantity you are looking for. Express the described context as an equation using your variable. Solve for the unknown variable." %}
<ol type="A">
  <li>Assume you spend 40% of your net income on rent and 15% of your net income on food. If you spends a total of $1375 per month on rent and food, what is your net monthly income?</li>
  <li>Maryam and Linda play on the same basketball team. In one game, Maryam scored one tenth of the team’s points and Linda scored one fifth of the team’s points. Together, Maryam and Linda scored 33 points. How many points did the team score altogether?</li>
  <li>CN Rail has a last-minute sale on train tickets at 20% off. Their advertisement reads, “You save $249.99.” What is the sale price of the ticket?<li>
  <li>Organizers of the Canadian Francophone Games hope to attract 500 volunteers to help host the games. The organizers predict that there will be about three and half times as many experienced volunteers as first-time volunteers. About how many first-time volunteers do they expect to attract?</li>
  <li>A square piece of paper is folded in half to make a rectangle. The perimeter of the rectangle is 24.9 cm. What is the side length of the square piece of paper?</li>
</ol>
</p>

<!-- Solution template
{% capture solution %}

{% endcapture %}
{% include_relative solution.html content=solution %}
-->
